[2018-09-07 07:47] TheDeveloperYJ opened #1 "Error: Type 'TextCapalization ' not found"
Importing the library and setting up the given example in the docs throws out the below error
----------
final TextCapitalization textCapitalization;
compiler message:         ^
compiler message: file:///C:/flutter/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_typeahead-0.2.1/lib/flutter_typeahead.dart:1152:7: Error: Type 'TextCapitalization' not found.
compiler message:       TextCapitalizat

[2018-09-07 07:53] AbdulRahmanAlHamali commented on #1
Hello,

Thank you for using my package.

Could you please provide me with the output of the command

`flutter doctor`

I suspect that you're facing this problem because you don't have a version of Flutter older than 0.6.0

[2018-09-07 15:06] TheDeveloperYJ commented on #1
Yeah it worked ! Thanks for resolving the issue and developing the package . It is really helpful !

[2018-09-07 15:06] #1 closed

[2018-09-14 13:34] TheDeveloperYJ opened #2 "InputField gets cleared when setState is called by another widget"
I have two typeahead widgets and a date picker . When I click on a datepicker and select the date , the date picker sets the state to current date but the text in the typeahead disappears .

[2018-09-14 15:40] AbdulRahmanAlHamali commented on #2
Thank you for reporting this issue

Can you please provide a small code sample that reproduces the issue?

[2018-09-14 15:52] TheDeveloperYJ commented on #2
class RateScreen extends StatefulWidget {
  createState() => RateScreenState();
}

class RateScreenState extends State<RateScreen>
    with SingleTickerProviderStateMixin {

  String origin,destination = '';

  final Map<String,dynamic> rateObject = {
    "search":"",
    "origin":"",
    "destination":"",
    "date":"",
  };
  DateFormat formatter = DateFormat('yyyy-MM-dd');
   final dateFormat =

[2018-09-14 16:02] TheDeveloperYJ commented on #2
I have recorded my screen and as you can see as soon as I select the datepicker the origin port textfield gets cleared . Therfore I am unable to manage my state.
![screen](https://user-images.githubusercontent.com/25108461/45561474-7b9e9c00-b865-11e8-90aa-fb038eef4918.gif)

[2018-09-14 16:07] AbdulRahmanAlHamali commented on #2
If you look at the beginning of your `originPort` and `destinationPort` functions, you can see that you're defining the `TextEditingController` controllers inside the function, which gets called at every build. Which means you are recreating the controller every time.

To solve your issue, just place the TextEditingControllers outside in the widget, and things should be solved

[2018-09-14 16:47] AbdulRahmanAlHamali commented on #2
Does this solve your issue?

[2018-09-14 18:45] TheDeveloperYJ commented on #2
Yes it solved my issue . Thanks man !
I have one more question can I make the suggestion box a listview so that a user can scroll through the fetched items ?

[2018-09-14 20:41] AbdulRahmanAlHamali commented on #2
The current implementation does not support that, but I can provide it in the upcoming version.

However, you might want to consider keeping the number of suggestions limited, a maximum of 5, instead of fetching too many suggestions

[2018-09-15 19:50] AbdulRahmanAlHamali commented on #2
Pushed version 0.3.0, which allows a `constraints` property in the suggestionsBoxDecoration. You can provide this property with `BoxConstaints` to set the height you see suitable

[2018-09-15 19:50] #2 closed

[2018-09-18 08:04] AbdulRahmanAlHamali opened #3 "Do you think Flutter TypeAhead needs a backend-communication component?"
The `TypeAheadField` and `TypeAheadFormField` widgets, in their current state, provide a `suggestionsCallback` function, which expects the user of the widget to go and fetch the suggestions from somewhere, and return them either synchronously or asynchronously.

But is there a better, perhaps more standard, approach that we can implement? Some typeahead widgets on other platforms provide an additi

[2018-09-19 09:27] AbdulRahmanAlHamali opened #4 "Add assertion that either initialValue needs to be null, or controller needs to be null"

[2018-09-19 16:31] sjmcdowall opened #5 "Quick question is all"
Using this package and it's awesome -- I have a quick question -- our users want the "search" to automatically load the first N items upon entry to the screen .. or if they click on the search field (if its empty) etc.  How can we invoke the suggestionsCallback() and that logic immediately before they have to type anything -- or if they click on the field (I don't see it called on a touch) ??

Som

[2018-09-19 23:08] leisim opened #6 "Scroll suggestions"
Hi,

Should it be possible to scroll the suggestions?
If yes, it does not work for me :/
If no, this would be a really useful feature...

Thanks ;)

[2018-09-20 07:50] AbdulRahmanAlHamali commented on #6
Hello Simon,

Yes, I added this ability in version 0.3.0

To do that, you need to specify the `constraints` property in the `suggestionsBoxDecoration`, and specify the maxHeight that suits you:

[code]
In this example, if your entries don't fit within 200 pixels, the suggestions box will become scrollable.

Let me know if that solves it

[2018-09-20 14:07] sjmcdowall commented on #5
Did you happen to just add this to TypeAheadField but not TypeAheadFormField ??   It is working on the one but getting an error on the other... ??

[2018-09-20 14:20] AbdulRahmanAlHamali commented on #5
You're right!

I apologize for that, I just pushed version 0.4.1 to fix that, give it a try and let me know :)

[2018-09-20 14:48] sjmcdowall commented on #5
LOL -- I realized I was using the TypeAheadFormField in a non-form so changed them to TypeAheadField .. sooo... I am sure it's working fine -- the TypeAheadField is working flawlessly!!  NICE!

[2018-09-20 15:30] AbdulRahmanAlHamali commented on #5
Great! Glad I could help :)

[2018-09-20 15:30] #5 closed

[2018-09-21 11:43] leisim commented on #6
Awesome, thank you!

[2018-09-21 11:43] #6 closed

[2018-09-24 07:00] AbdulRahmanAlHamali commented on #3
@zgusth That's great to hear! Thanks!

[2018-10-05 06:39] willvlad opened #7 "Text typed not reflecting in selections"
Good widget visually, but not sure if the typeahead functionality is actually working - typeahead normally means when you type a letter, you should only see those entries which have that letter (or a combination), right?

It seems the formula is not providing that. So in your 2nd example, when you type B for Beirut, you are seeing Rome coming up the list, where B is not even present. Any way of co

[2018-10-05 07:16] AbdulRahmanAlHamali commented on #7
Hi Will,

Yes, the typeahead widget does not do the fetching of the suggestions for you. It is only a frontend component. It provides you with a function `suggestionsCallback` where it gives you the text typed in the field, and asks you for the suggestions.

You should, accordingly, provide suggestions based on the typed text. The suggestions could come synchronously from some function that calcul

[2018-10-05 07:41] willvlad commented on #7
Hi Abdul, thanks for your prompt response. I think it makes sense to use some function within the plugin to calculate suggestions on the fly with no backend necessary as in most cases the list of suggestions is local. It looks like the string distance algo isn't quite the right function for this calculations. I haven't looked into which functions are normally used in typeaheads. This must have bee

[2018-10-05 07:52] AbdulRahmanAlHamali commented on #7
Hmm yeah it might be valuable if we have a pre-existing list on the frontend, to provide some default search functionality. I will look into this and see what is the best way to implement it.

Thank you for your suggestions, Will!

[2018-10-16 06:21] yohom opened #9 "Make SuggestionBox can be on top of TextField."
Is there any way to put the `SuggestionBox` above `TextField`? Because now my situation is that the input method will block the SuggestionBox, so I want to make the SuggestionBox above the TextField.

[2018-10-16 07:41] AbdulRahmanAlHamali commented on #9
Hey,

So you want to show the suggestions to the top instead of the bottom, depending on how much visible space there is? or depending on what exactly?

[2018-10-16 07:56] yohom commented on #9
Yeah, except the `SuggestionBox`'s location and growth direction(up instead of down) are different, other features should be the same as the current ones. I feel like the whole point of this function is to fix the bottom of the ListView and grow it up. Do you have any ideas?

[2018-10-16 07:59] AbdulRahmanAlHamali commented on #9
Thank you for the suggestion! This is a nice feature to have.

This might take me some time to implement as I am a bit busy these few days. If you're in a hurry, you can implement it and submit a pull request :) Otherwise, I will try to implement it as soon as possible.

[2018-10-16 08:05] yohom commented on #9
Thank you. I will try to implement it.

[2018-11-04 23:44] sensiblearts opened #12 "SuggestionList ListView.shrinkWrap configurable?"
I'm new to flutter (this week), so I might be missing the obvious.

When there is a large number of suggestions that match the query, they do not all fit on the screen; and, when you collapse the keyboard to try to scroll down, the ListView does not scroll. I think this is because `shrinkWrap: true;` ... as in this:

[code]

[2018-11-05 00:05] sensiblearts commented on #12
Well, after figuring out where flutter stores packages, I changed it to:
```shrinkWrap: false;```
However, I get a bunch of ViewPort related errors. I'm guessing that this might be fixed by wrapping the ListView in some other container.

If you would like me to pursue this, any tips welcomed.
Thanks,
DA

[2018-11-05 01:08] kevincherryholme opened #13 "Applying a FocusNode crashes the Typeahead widget"
Hi everyone,

When I apply a FocusNode to this TypeAhead widget, after selecting my first suggestion, an exception is thrown:
Duplicate Global key being used.

Here is how I build the TypeAhead widget
[code]

[2018-11-18 21:32] willvlad opened #14 "Suggestions overflow - ClipRect?"
Good widget Abdul!
Question - do you think it's possible to make suggestions scrollable or ClipRect them?
Here is a yellow/black error I'm seeing:
[code]

[2018-11-19 09:32] straltest opened #15 "flutter_typeahead not working in iOS flutter"
I am getting compile error in flutter iOS application. In Android this package is working fine.
Below is error which I am getting when using this package.

compiler message: file:///Users/stral/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_typeahead-0.4.1/lib/flutter_typeahead.dart:1120:9: Error: Type 'TextCapitalization' not found.
compiler message:   final TextCapitalization textCapitalizat

[2018-11-30 20:46] sjmcdowall commented on #15
I am using it fine in flutter on iOS both emulator and real devices... make sure you do a "flutter upgrade" (beta channel I suggest) and then a "flutter clean" then "flutter run" .. you may also have to do a rm -rf ios/Pods  and then "cd ios; pod install" .. but don't do that until you try the upgrade and clean

[2018-11-30 20:50] sjmcdowall opened #16 "On smaller devices -- keyboard obscures suggestions and doesn't scroll"
This is a great widget.  Our issue is that on smaller devices (specifically for us a user has an iPhone SE) and the initial suggestions comes up -- but when they tap in the box and the keyboard pops up -- the bottom of the list is obscured by the keyboard and scrolling doesn't "work".  Meaning, it doesn't actually scroll it scrolls then pops back ... probably because it's confused that the text is

[2018-12-04 20:02] sjmcdowall opened #17 "Has this become abandon ware?"
There has been no activity on this project in months and nothing on the PRs ... I fear this is deadware ..

There is another project that is similar that appears to be alive (at least for now):

[Flutter AutoComplete](https://pub.dartlang.org/packages/autocomplete_textfield#-readme-tab-)

[2018-12-16 16:32] AbdulRahmanAlHamali commented on #13
Hello @kevincherryholme , I apologize for taking so long to reply. I have been extremely overwhelmed in the past period, and now I am planning to get things back on track.

I think the problem here might be that you are calling `_initFNWithListener` inside the `TextFieldConfiguration`, which means a new FocusNode is created on every rebuild. I suggest you call `_initFNWithListener` in `initState`

[2018-12-16 16:33] AbdulRahmanAlHamali commented on #14
Hello @willvlad , I apologize for taking so long to reply. I have been extremely overwhelmed in the past period, and now I am planning to get things back on track.

Regarding the issue, does providing constraints like this help?
[code]

[2018-12-16 16:34] AbdulRahmanAlHamali commented on #15
Hello @straltest, I apologize for taking so long to reply. I have been extremely overwhelmed in the past period, and now I am planning to get things back on track.

Has been solved?

[2018-12-16 16:35] AbdulRahmanAlHamali commented on #16
Hello @sjmcdowall , I apologize for taking so long to reply. I have been extremely overwhelmed in the past period, and now I am planning to get things back on track.

Regarding the issue, this is most definitely the first item on the list. I will try to find a solution for it within the week.

Thank you for reporting!

[2018-12-16 16:37] AbdulRahmanAlHamali commented on #17
Hello @sensiblearts , I apologize for taking so long to reply. I have been extremely overwhelmed in the past period, and now I am planning to get things back on track.

I will prioritize the issues with the keyboard as most users are having problems with them.

Thank you!

[2019-01-01 23:46] KaYBlitZ commented on #16
I seemed to have figured out what the problem is. The list doesn't scroll because the list is showing all the elements (going off the screen), so it doesn't need to scroll. If we limit the size of the list for the _overlayEntry, ie:

[code]

we can force a height on the list. It will scroll now, but I haven't figured out a good way to determine the height yet. If the keyboard covers the bottom of

[2019-01-02 20:40] KaYBlitZ commented on #16
Hi Abdul. I submitted a pull request that I think will fix this issue. Please check it out when you have time since I know you are very busy.

[2019-01-03 07:55] AbdulRahmanAlHamali commented on #16
@KaYBlitZ Thank you very much! I really appreciate it!

I will check it out today around lunch time and will get back to you

Have a great day!

[2019-01-05 19:06] #13 closed

[2019-01-05 19:06] #15 closed

[2019-01-05 19:07] #17 closed

[2019-01-05 23:07] #12 closed

[2019-01-05 23:07] #14 closed

[2019-01-05 23:07] #16 closed

[2019-01-07 14:20] Rassell commented on #9
Updated pull request here:

https://github.com/AbdulRahmanAlHamali/flutter_typeahead/pull/20

[2019-01-07 16:11] sccrgoalie1 commented on #16
I just updated to this release (0.5.0) and am getting an error when the keyboard is shown on Android and it covers the suggestions box.  Is there something else we need to configure with this release?

`The following assertion was thrown building _SuggestionsList<dynamic>(dirty, state:
I/flutter (22300): _SuggestionsListState<dynamic>#355ea(ticker inactive)):
I/flutter (22300): BoxConstraints has

[2019-01-07 16:22] KaYBlitZ commented on #16
No. It should just work. Is the keyboard covering just the suggestions box or the text box as well?

Looks like the keyboard is covering the text box based on the crash log calculating a negative height.

I will take a look later if you can give more details on your setup. Might just need a check for negative height.

[2019-01-07 18:00] sccrgoalie1 commented on #16
Yes you are correct.  When the keyboard launches it is covering the text box.

[2019-01-07 19:51] KaYBlitZ commented on #16
I was able to replicate the problem by putting a text box at the very bottom of the screen.
To fix it, you can set the maxHeight to a default positive value if it was either 0 or negative. It doesn't show the error, but the user will still be unable to see what he is typing or the suggestions list.

I created a pull request for the quick fix.

[2019-01-08 15:44] sjmcdowall opened #22 "0.5 broke something pretty fundamental"
On 0.4.X this work working just fine -- I upgraded to 0.5.0 and now for the same Widgets I am getting the below stack trace (and red screen of death on the phone).

Any ideas?

[code]

[2019-01-08 15:57] sjmcdowall commented on #22
Due to the prior error I had this code for the Typeahead:
[code]

Where I had a calculation based on device height how much to reserve etc. for keyboard..

For this model (iPhone XR) -- I had --

Device Height is 896.0 -- calculated boxSize is 358.40000000000003

Not sure why that would blow up -- unless someone hard coded a value of 300? Which it appears to have done which -- as i think I pointed

[2019-01-08 16:02] KaYBlitZ commented on #22
Hi sjmcdowall. Thanks for finding the bug. The value 300 is hard-coded as the default value for the height. This value changes and is adjusted once the keyboard is shown and will do the calculation for the height to maximize it but still make it fit. Your code sets a minHeight less than 300 and crashes the code before it is able to auto-adjust.

I will add a quick check and add it to a PR.

You sh

[2019-01-08 16:09] sjmcdowall commented on #22
@KaYBlitZ -- Yes I noticed that myself .. It is working pretty goods .. but .. if there is NO keyboard why limit it to 300?  Is there not a way to use up "available" space -- or will it if the list is long enough?

[2019-01-08 16:11] KaYBlitZ commented on #22
As of right now, it will not use up the available space if there is no virtual keyboard, since the resize function is never called. Right now it is triggered by keyboard toggling. I can see if I can somehow calculate the exact height as the default instead of using a hard-coded value of 300.

[2019-01-08 16:32] KaYBlitZ commented on #22
Yes. Toggling the keyboard will call the resize function and adjust accordingly.

You can dismiss the suggestions list by pressing the enter key. This is the original functionality of the package and not something I have changed. AFAIK there is no other way of dismissing the list except selecting a suggestion.

[2019-01-08 16:44] sjmcdowall commented on #22
@KaYBlitZ -- Ok -- that's pretty reasonable then.  THanks..

[2019-01-08 17:40] KaYBlitZ commented on #22
@sjmcdowall I think I was able to fix all the issues. I put them all in a PR. You can test the potential changes by editing in your pubspec.yaml

[code]

I think the plugin works the way it should now. The initial height is calculated during creation now, so the static height of 300 should never be used.

[2019-01-08 17:42] sjmcdowall commented on #22
Great -- I'll give it a shot ASAP and report back ..

[2019-01-08 18:08] sjmcdowall commented on #22
OK -- This is working really well except for a minor nit -- see attached screen shot and you'll see on an iPhone X type device the box extends into the "Unsafe" area .. I've solved this before with logic like:

[code]

Here is an except from the Flutter issue on this -- there is now also a SafeArea widget to protect against going against either the top or bottom (or I guess side?) areas on devices

[2019-01-08 18:22] KaYBlitZ commented on #22
Got it. Thanks for the info. Seems like an easy fix. Just have to use MediaQuery. I'll add and test it later when I have time.

[2019-01-08 23:10] deborah-ufw commented on #22
Awesome - thank you!!

[2019-01-09 03:18] KaYBlitZ commented on #22
@sjmcdowall Finally got everything working. Orientation changes and SafeArea considerations should all be good. If you are curious, I put many comments in the code to explain how it works. Please test it when you have time.

[2019-01-09 16:37] sjmcdowall commented on #22
@KaYBlitZ -- I ran it throw some good tests -- iPhone X/6S and Android 6/6P and it looks and works great!  Nice work!  Now -- how to get this PR into main :)

@AbdulRahmanAlHamali  -- perhaps you should add @KaYBlitZ to the offical commit team ??  A good OS project needs to have more than just one authorized merger/commiter / pusher IMHO

[2019-01-10 14:18] sjmcdowall commented on #22
@AbdulRahmanAlHamali  -- @KaYBlitZ better accept or else I'll do something evil!  :)   If you want another backup -- I wouldn't mind being a member of the team .. I'm a good code reviewer if not the ultimate flutter coder .. :)

[2019-01-10 16:02] KaYBlitZ commented on #22
Sure, I don't mind. Pretty new to this. Is there a process for the way commits and PRs are handled?

[2019-01-14 03:22] kika opened #23 "Type error"
I'm not sure if it's the Typeahead bug or Dart bug.

Here's the repro case:
[code]

If you run it as is it fails with exception
[code]

If you remove `<Skill>` from the call to `TypeAheadField<Skill>(...)` it works fine.

[code]

[2019-01-14 15:05] Thetyne commented on #23
Reproduce with String type.

[2019-01-14 17:09] Thetyne commented on #23
ok, i found the problem.
inside _initOverlayEntry method, the generic type T of "_SuggestionsList<T>" use the generic type of current class (_TypeAheadFieldState<T>).

When constuctor of _SuggestionsList is called, generic type T is unknow because it create inside a overlayEntry builder. the builder is executed outside class context.
So T begin dynamic inside _SuggestionsList.

Solution:
- Create

[2019-01-16 17:43] sjmcdowall commented on #22
Did this get figured out @KaYBlitZ  and @AbdulRahmanAlHamali  ??

[2019-01-16 22:45] KaYBlitZ commented on #22
No, I haven't heard anything since. I am starting to be more busy myself, so it might be better this way. The plugin still works fine except for the recent type error discussion and the option of the listing being on top.

[2019-01-17 17:41] LeTienHanh opened #24 "TextFieldConfiguration controller"
I attach controller for TextFieldConfiguration then suggestionsCallback not runing.
Please help me check it.
Thank

[2019-01-17 17:55] LeTienHanh commented on #24
hmm. Because I use StatelessWidget, hmmm.

[2019-01-18 11:55] AbdulRahmanAlHamali commented on #22
Hello,
I apologize but I was travelling the past few days. I will add you both as committers, that way whoever has the time can follow up with the open issues and pull requests.

Regarding the review of pull requests. You need to do the following:
* only merge into develop, not into master. If a pull request is sent for master, modify it for develop.
* review the code and test it well: does it wor

[2019-01-18 12:23] sjmcdowall commented on #23
Want to submit a PR for that ??  Also .. the local variable in your example maybe should be _suggestionsList ...etc etc

[2019-01-18 12:24] AbdulRahmanAlHamali commented on #23
Thank you for making the time to analyze the problem and find a solution. I am having problems with my laptop, so I will need a couple of days to implement the fix. Apologies for the delay.

[2019-01-18 12:24] sjmcdowall commented on #23
I maybe able to do this -- but was wondering if the original author may want to submit a PR :)  .. Good sleuthing indeed

[2019-01-18 12:29] sjmcdowall opened #25 "Does not always show total list of possible outcomes if Future return in suggestionsCallback"
<img width="423" alt="screen shot 2019-01-18 at 7 36 43 am" src="https://user-images.githubusercontent.com/2034925/51387396-e56cd200-1af3-11e9-86b8-fdc19bea296c.png">
<img width="423" alt="screen shot 2019-01-17 at 4 11 54 pm" src="https://user-images.githubusercontent.com/2034925/51387102-e7826100-1af2-11e9-814b-e9e84ebfc457.png">
Please see the screenshot .. I changed the TypeAhead to use a Futu

[2019-01-18 13:31] sjmcdowall commented on #22
Thanks!

The below looks very reasonable -- maybe my first contribution would be the start of a CONTRIBUTION.md guide :)

So are you the only person able to push to dart pub?  Is that not a Single Point of Failure?  What if something happens and you are on vacation or ..??

Cheers!

/Steve

[2019-01-18 14:54] sjmcdowall commented on #7
I don't think this is reasonable -- there are way too many use cases to know exactly the expected behavior if this functionally is "magically" done.  I also disagree that most lists are "hard coded" -- I think most are actually retrievals from backend systems, etc.  For simple "local" lists it shouldn't be too much work to specify a function that returns the exact filter as needed by the applicati

[2019-01-18 14:54] #7 closed

[2019-01-18 15:20] KaYBlitZ commented on #25
Hi @sjmcdowall. I can't seem to replicate the Future problem you are having. I wrapped my suggestions callback in a Future.delayed() with a 1 second delay, but was still able to get the full list of results rendered. Not sure if you're doing something different.

As for the suggestions list overlaying your other widgets, ie: the next button, I believe that is proper behavior. The user would have t

[2019-01-18 18:12] sjmcdowall commented on #25
The delay maybe too long .. try a 100 ms delaybor 50?  I can reproduce pretty much at will do maybe I can get the timing of the delay .. also the amount it shows is not consistent - sometimes it’s one item sometimes two - sometimes two and 1/2 ... !

And ok - the hiding part is fine - just sort of looked odd

[2019-01-18 23:34] AbdulRahmanAlHamali commented on #22
Actually it seems you guys can upload too. I'm not sure how this works exactly, but we can try to let someone else do the publishing when we're releasing the next version!

[2019-01-20 21:11] KaYBlitZ commented on #9
I tested @Rassell 's version and found a few weird behaviors. Using
[code]
the most relevant search is at the top of the suggestions box. Not sure if this is the intended behavior or if the list should be reversed, ie: most relevant object at bottom of box and least relevant going up. I believe the list should be reversed since the direction is up.

I also tried
[code]
but the list goes down inste

[2019-01-21 04:19] KaYBlitZ commented on #9
@Rassell @yohom If you guys have time, can you test my fork for the up direction functionaliy? I modified the code from your PRs to work with the auto-resize feature I added before. This way we do not have to add a noResize attribute and it will just work. In pubspec.yaml use:
[code]

[2019-01-23 03:35] kika commented on #23
Well, I've applied the patch manually (on my fork) and it didn't help. What confuses me is the wording of the error message:
`(BuildContext, String) => ListTile' is not a subtype of type '(BuildContext, dynamic) => Widget`

May be I'm missing something, but this statement is just not true. `String` is the subtype of `dynamic`, `ListTile` is the subtype of `Widget`. `BuildContext` is, well, `BuildC

[2019-01-23 06:09] Thetyne commented on #23
I sublit a PR today

[2019-01-23 13:09] sjmcdowall commented on #23
@kika -- do you have strict type checking on (i.e. using the Google analyze.options?) -- if so there is something about dynamic being treated specially .. although I am not sure exactly how that implies .. but I've noticed similar things in other places in my code where the "linter" is complaining about something being not the same as something else, although its dynamic.  <shrug>

[2019-01-23 15:17] KaYBlitZ commented on #9
I committed to master. Someone just has to push to the pub @sjmcdowall  @AbdulRahmanAlHamali . I also added my email in pubspec.yaml if you want to give me access.

Let us know if anyone finds an issue with the direction property.

[2019-01-23 15:17] #9 closed

[2019-01-23 17:13] sjmcdowall commented on #9
Great -- I'll do that when I get home --

[2019-01-23 19:19] fsobanski opened #29 "Hide suggestions box completely"
Is there a way to hide the suggestions box completely if no suggestions have been found? When I use `noItemsFoundBuilder: (context) => Container()`, I still get the empty box.

[2019-01-24 00:39] kika commented on #23
Okay, I finally found it. Type errors in Dart are difficult to track.

[2019-01-24 00:39] sjmcdowall commented on #9
pushed

[2019-01-24 00:40] sjmcdowall commented on #23
@kika -- Ok... what was the solution? What did you find for others to see?

[2019-01-24 00:42] kika commented on #23
@sjmcdowall You should see the PR, I'll try to link to it: #30

[2019-01-24 01:15] sjmcdowall commented on #23
Ah great .. thank you

Sent from my iPad

[2019-01-24 10:55] fsobanski commented on #29
Hi,
it would be great if such a paramezer would also hide the loading box
because it seems weird if the loading box is shown and then just disappears.
Thank you for your work on this plugin.

On Thu, Jan 24, 2019, 11:28 AbdulRahmanAlHamali <notifications@github.com
wrote:

[2019-01-24 18:58] sjmcdowall commented on #29
What exactly do you mean by the "loading box" -- can you attach a screen shot?

[2019-01-24 19:22] KaYBlitZ commented on #29
I believe he means the circle progress indicator that is shown in the suggestions list. It is used when fetching the suggestions take a while.

[2019-01-24 22:00] fsobanski commented on #29
Exactly. The widget that can be controlled via `loadingBuilder`.

[2019-01-25 00:56] AbdulRahmanAlHamali commented on #29
OK so we can add three parameters: `hideOnLoading`, `hideOnEmpty` and `hideOnError`. We look at each of these parameters in their respective "if" branch in the [build](https://github.com/AbdulRahmanAlHamali/flutter_typeahead/blob/21984ae7430110dc52239d0d562530c77f386a19/lib/flutter_typeahead.dart#L901) function, and we return `Container()` if the corresponding parameter is set to true.

@fsobanski

[2019-01-27 13:37] sjmcdowall commented on #23
Fixed via #33

[2019-01-27 13:37] #23 closed

[2019-01-30 18:18] sjmcdowall commented on #29
So -- I am gathering @fsobanski isn't interested in doing a PR? :)   I am busy tonight but unless I hear otherwise I'll give this a shot tomorrow

[2019-01-31 23:59] josefebus opened #34 "Identifying a Selection was Made"
Hi,

Is there a way to identify a selection was made? I noticed if I enter random text and hit the submit button, I still get the random text using `print(_typeAheadController.text);`

I have:
`onSuggestionSelected: (suggestion) {
                        this._typeAheadController.text = suggestion;
                      },`

Did the `this._typeAheadController.text` gets updated even a selection wa

[2019-02-01 00:06] sjmcdowall commented on #34
Well you have the right of how to to it -- when (and ONLY when) they select something in the selections box will fire.. here is how we are using this in our app and it's working well..

[code]

[2019-02-01 01:05] AbdulRahmanAlHamali commented on #34
@sjmcdowall I think @josefebus means that he wants to disallow people to type in just any text and then submitting that text. In typeahead, you can type the text that suits you and there is nothing that prevents that. but @josefebus I think that you can do a simple check on submit to see if the entered text is one of the suggested. Wouldn't that work for you?

[2019-02-01 01:06] AbdulRahmanAlHamali commented on #29
@sjmcdowall Go for it! :muscle:

[2019-02-05 10:50] AbdulRahmanAlHamali commented on #29
Oh I see, well noted @KaYBlitZ! but I think it would be easier and more convenient for the users of the package to just set a parameter to true or false, instead of having to override the builders. What do you think?

[2019-02-05 14:41] KaYBlitZ commented on #29
It would definitely be easier. I can see this being an issue again in the future. I will work on the PR.

[2019-02-07 11:42] sjmcdowall commented on #29
Nice!! WOOHOO!

[2019-02-07 12:21] AbdulRahmanAlHamali commented on #29
:clap: :clap: :clap: :clap: :clap: :clap:

[2019-02-07 12:21] AbdulRahmanAlHamali opened #36 "Add documentation to README about the new `hide` properties"

[2019-02-07 20:52] JorgeSardina opened #37 "BoxConstraints not applying maxHeight on SuggestionsBoxDecoration"
[code]

I'm trying to limit the size of the suggestions box using BoxConstraints. The typeahead field is being used in a Scrollable widget, applying custom constraints or leaving them as default doesn't seem to work, they take all height available.

[2019-02-07 21:20] KaYBlitZ commented on #37
Yes. The logic isn't there. I'll fix this later today.

On Thu, Feb 7, 2019, 3:52 PM Jorge Sardina <notifications@github.com wrote:

[2019-02-07 22:29] KaYBlitZ commented on #37
Fixed in version 1.0.2

[2019-02-07 22:29] #37 closed

[2019-02-07 22:30] KaYBlitZ commented on #36
Added the documentation in version 1.0.2. Also fixed #37 in 1.0.2. I pushed to dart already. Hope you don't mind. I didn't think the changes were too crazy to merit reviews.

[2019-02-07 22:30] #36 closed

[2019-02-08 12:26] AbdulRahmanAlHamali commented on #36
Hahaha no it's ok. Great job man!

[2019-02-11 13:32] davidmartos96 opened #40 "Suggestion box height is incorrect when TypeAhead is in an scrollable"
maxHeight calculation in the method `resize()` in the source code is not correct. Specifically the variable `textBoxAbsY` which is calculated as `double textBoxAbsY = box.localToGlobal(Offset.zero).dy;`

Creating a TypeAhead at the top of the scrollable works fine but once you scroll an take the focus of the textField, then the variable `textBoxAbsY` is not being calculated properly.

Maybe this c

[2019-02-11 14:19] KaYBlitZ commented on #40
Would you like to take a stab at it? You seem to know the solution already.
You can fork the current revision and make a PR. I won't be able to look at
this until this weekend.

On Mon, Feb 11, 2019, 8:32 AM David Martos <notifications@github.com wrote:

[2019-02-12 09:48] davidmartos96 commented on #40
I am closing because inspecting it more close, it seems like an issue on my end.
I did PR a scroll related fix though.

[2019-02-12 09:48] #40 closed

[2019-02-15 08:02] magnus-lpa opened #43 "Need a way to hide the suggestion box"
When the suggestion box is showing, there seems to be no way to hide it except for tapping on one of the items. Since the suggestion box covers widgets that are placed underneath it, I need some way to close the box, either by tapping outside it or with a "X"-button inside the box itself. Is this possible to do somehow?

[2019-02-15 08:11] magnus-lpa opened #44 "Option to keep suggestion box "as is" until loading is done?"
Maybe I'm doing something wrong, but when testing with suggestions that take only 100 ms to load, the box disappears and reappears, even with

[code]
IMHO it would look much nicer if the current suggestions would stay until new ones are loaded. Would it make sense to have an option (or set a duration) for not updating the suggestion box at all until new suggestions are loaded?

[2019-02-15 13:19] sjmcdowall commented on #43
What platform? Is this Android?  I think on iOS you can tap on the input text box to close the box?

I was wondering about this myself -- one of our users was complaining about this .. but I hadn't looked too deeply into it yet.

[2019-02-15 15:21] sjmcdowall commented on #44
Do you have a way to easily recreate this behavior?  k

A little github project based off the stock Flutter project create or something?

[2019-02-16 21:18] KaYBlitZ commented on #43
Created a PR that hides the suggestions box when keyboard is dismissed #45 . I believe this is a better solution than having the user manually dismiss the box. Will this work in your case?

[2019-02-18 20:54] feroldi opened #46 "Support for BLoC pattern when building suggestions"
Currently, the way `TypeAheadField` et al works is by awaiting on the building of a list of items whenever there is typing interaction:

    TypeAheadField(
      suggestionsCallback: fetchList,
      // ...
    )

This is pretty simple and works well. However, it prevents someone from implementing a BLoC pattern for the building of a suggestion list. Instead of `suggestionCallback`, the construct

[2019-02-19 18:47] tsuharesu opened #47 "On focus is triggering another search"
Every time I click on the TypeAheadField, even if I don't type anything, `suggestionsCallback` is being triggered. I looked into `_SuggestionsListState` but couldn't figure out why `if (widget.controller.text == this._lastTextValue) return;` this is not working.

Right now I have to create some kind of check inside `suggestionsCallback` to return an empty list instead of hitting the API.

[2019-02-19 18:54] sjmcdowall commented on #46
I am not sure what the best solution for BLoC type control makes sense.. the above doesn't seem right to me.. I.e. passing a Widget thing .. the suggestionsCallback doesn't have to be a future and can be just a normal List<String> type.. can't some BLoC thing just update that underlying type and then call setState ?

Again, not a BLoC guru at all -- so maybe that's not clean..

I am also wondering

[2019-02-19 19:08] sjmcdowall commented on #47
I have that same code in all my usages too -- something like:

[code]

I didnb't even know we were trying to check it .. :)

[2019-02-20 05:38] anslex opened #48 "MR 45 Hide the suggestions box when keyboard is hidden"
Hello,

I get a closing keyboard immediately after this change on a closed keyboard:
E/SpannableStringBuilder( 9947): SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length

I tap on the entry field, keyboard opens and closes and I get an error. This issue appeared with this new change.

OS: Android 7.1.1
 Flutter version 1.2.0

[2019-02-20 12:00] KaYBlitZ commented on #48
Hi, can you post some minimal sample code that causes this error? I want to
reproduce it to see what is happening exactly. For now, you can use the
previous version of 1.0.2 in your pubspec until this gets resolved.

On Wed, Feb 20, 2019, 12:38 AM AnSLEX <notifications@github.com> wrote:

[2019-02-20 12:53] sjmcdowall commented on #48
Also what platform (iOS/Android) and steps to reproduce --

Also maybe your full code -- maybe something else in the Widget tree is interfering ??

[2019-02-20 13:36] harshapulikollu opened #49 "Keyboard closing itself when I click on textFormField to input"
I'm using your plugin in a form which lies in between other TextFormFileds, but when I touch(click) on the this text field to input data the keyboard raises and closes itself with in a second even before entering any text.
This is my form for that particular filed
[code]

[2019-02-20 13:42] harshapulikollu opened #50 "Is there a way to show suggestions on top of text filed instead below?"
Showing suggestions list on below of text field is being covered by the keyboard is there any option or workarround such that the suggestions listview will be shown on top of the textfield which will make easier for user to select the option from suggestions.

[2019-02-20 13:50] sjmcdowall commented on #50
Yes that feature was added a few mini releases ago -- see the direction:  thing and maybe offset etc.  Does that work?

[2019-02-20 13:53] harshapulikollu commented on #50
Sorry I figured it out when I saw the code. Thank you.

[2019-02-20 13:53] #50 closed

[2019-02-20 14:23] sjmcdowall commented on #49
This appears to be a dupe of #48 ??

[2019-02-20 15:51] harshapulikollu commented on #49
Yup it's working after I rollback to older version 1.0.2. Thank you.

[2019-02-20 15:51] #49 closed

[2019-02-20 19:36] KaYBlitZ commented on #48
@sjmcdowall I just took a look at the code again. I didn't test my code fully and it's causing all these issues. I just realized that if the user is using a hardware keyboard, they will not even be able to type because the code will not detect a keyboard and unfocus the focusnode. Not sure what the root cause is for these other issues people are having, but the problem code either has to be remove

[2019-02-20 21:23] sjmcdowall commented on #48
OK -- let's use the 3rd party .. now.. how do I UNPUBLISH something .. doh!

Guess I need to get the master @ 1.0.2 and then publish again ..

[2019-02-20 22:09] KaYBlitZ commented on #48
I am going to let @AbdulRahmanAlHamali decide whether to proceed with using the 3rd party or not. It's a pretty big change.

[2019-02-20 22:36] sjmcdowall commented on #48
If we don't use the 3rd party -- how are we going to fix the issue?

[2019-02-21 15:05] sjmcdowall commented on #47
Solved in 1.0.5 .. closing..

[2019-02-21 15:05] #47 closed

[2019-02-24 01:24] AbdulRahmanAlHamali commented on #48
Hello guys

Sorry for taking this long to reply. Thank you for all the hard work that you have been doing. The package would definitely be dead without your help!

Regarding the 3rd party library. I don't mind using it as long as:

1- It is good, stable, and solves the problem at hand.
2- It does not include other unneeded dependencies that we are not sure why they are there.
3- We lock the depend

[2019-02-24 01:28] AbdulRahmanAlHamali commented on #34
Closing due to inactivity. Please feel free to re-open if needed

[2019-02-24 01:28] #34 closed

[2019-02-24 01:30] AbdulRahmanAlHamali commented on #46
@feroldi, interested in submitting a pull request?

[2019-02-24 01:34] AbdulRahmanAlHamali commented on #44
That is interesting indeed. So the old suggestions will keep showing until new suggestions have been loaded. I think that might work, but will require some significant rewrite on some parts of the plugin. Also, we will have to make sure that this option plays well with the other options that we currently have, like the animation, etc.
It's definitely worth exploring though.

For now, if you want,

[2019-02-25 15:45] ronniechew opened #56 "Styling ListTile spacing between items"
When the font for ListTile's title/subtitle is set to rather small (fontSize 6 or 8), the ListView showing a list of suggestions with huge padding around each ListItem. Can we change this? I've tried changing ListTile.contentPadding but that seems only affecting the Left/Right paddings, and leaving the vertical padding between each ListItem unaffected

![img_20190225_234243](https://user-images.gi

[2019-02-26 07:06] jan1za opened #57 "suggestionsCallback not being called iOS"
Version flutter_typeahead: ^1.0.5 works perfectly on Android, however the suggestionsCallback is not being fired on iOS.

Currently running minimum iOS build 10.
Flutter (Channel beta, v1.2.1, on Mac OS X 10.14.3 18D10)
xCode version Version 10.1 (10B61)

I have upgraded flutter, reinstalled the pods. I have not attempted to debug the issue yet, except that the suggestionsCallback is not firing.

[2019-02-26 07:22] jan1za commented on #57
I have checked out your lasted code and tried it, it does not work there either.

PS Thank you for a very cool plugin.

[2019-02-26 07:35] jan1za commented on #57
Sorry, it was my fault, I wanted to set an initial value, however I updated the controller and it does not work in iOS, so this is not a defect.
To simulate
[code]

[2019-02-26 08:51] jan1za commented on #57
I have re-opened this because setting the controller on the TextFieldConfiguration results in the suggestionsCallback not being called in iOS

[2019-02-26 09:39] jan1za commented on #57
Your code is working in your example. I have two type ahead controls. However, I am going to close this because it is working in your example

[2019-02-26 12:50] sjmcdowall commented on #57
I use iOS all the time and don't have any issues but -- I confess I'm not trying to do what you are doing. :)  Can you post a small example program that reproduces the issue .. it maybe due to the 2 Typeaheads in the Widget Tree (although not sure why) .. but maybe the use of the TextController isn't quite right .. and I will tell you doing Focus properly on iOS and multiple Text Fields is a trick

[2019-02-26 12:56] sjmcdowall opened #58 "Allow Stream type return instead of Future for suggestionsCallback?"
In a different project we are using Firestore (ugh) -- which deals with Streams .. its pretty similar to Futures ..but .. not exactly the same LOL.  Currently we allow a Future to be passed in to the suggestionsCallback ... I am wondering if we should also allow instead a Stream type thing in order for those sorts of data "streams" to be used.

I think, in the end, that the result of a Future bein

[2019-02-26 13:08] jan1za commented on #57
@sjmcdowall it has something to do with memory management between android and ios, if the controller is created as follows:
TextFieldConfiguration(
        controller: TextEditingController(text: initialValue),

Then it does not work iOS, but works in Android, however if it is created in a stateful widget, and the TextEditingController is created as final as you have done in your example it works.

[2019-02-26 13:17] sjmcdowall commented on #57
Ahh -- interesting.  From everything I've ever done and read -- I've ALWAYS used a Controller in a Stateful widget where I initialize it in initState() and make sure I dispose of it in dispose() else memory management is not good.

I'm not sure "final" is key here .. as long as it gets initialized for the proper high level widget and disposed correctly ..

Sounds like you are on the right track to

[2019-02-26 13:17] #57 closed

[2019-02-26 13:19] jan1za commented on #57
@sjmcdowall I totally agree. Seems to be how Android uses mem versus iOS. Thank you for the support!

[2019-02-26 13:19] jan1za commented on #57
Sorry I thought I closed it :/ my bad :)

[2019-02-26 13:20] DCrow opened #59 "Is there a way to show suggestions box when textfield is empty?"
Sometimes when I have a few items(2-5) to search from, I want to show all of those items, so that I don't have to enter any text.
Something similar can be achieved by typing a letter and deleting it.
Is this possible?

[2019-02-26 13:21] KaYBlitZ commented on #59
Hi, I believe there is a getImmediateSuggestions property. Have you tried
that?

On Tue, Feb 26, 2019 at 8:20 AM Yaroslav Barkovskiy <
notifications@github.com> wrote:

[2019-02-26 13:26] DCrow commented on #59
@KaYBlitZ Thank you! Just what I wanted

[2019-02-26 13:26] #59 closed

[2019-02-27 19:55] josephlam1984 opened #60 "Allow for the setting of a default String in the Text Field"
Is there a way we could set a default String (and a hint) in the Text field?

[2019-02-28 15:28] sjmcdowall opened #61 "Various interaction issues with 1.0.5 and the keyboard ..."
<img width="472" alt="screen shot 2019-02-28 at 10 22 32 am" src="https://user-images.githubusercontent.com/2034925/53577468-b78f9a00-3b43-11e9-9a23-7cd8f309ea32.png">
Our users are trying our app and we have some pretty critical UX issues that are appearing that we need some help with quickly .. (we hope to launch next week).

@KaYBlitZ -- any chance you can look at these?   THey are all keyboard

[2019-02-28 15:48] KaYBlitZ commented on #61
I can take a look later in the day. Haven't encountered problems 1 & 2, but I will try to replicate it. Problem 3 shouldn't be an issue if the direction is down. The suggestions box should resize between the bottom of the textbox and just above the keyboard so the keyboard should never be hiding anything. Only problem would be if there isn't enough space between the textbox and keyboard so the opt

[2019-02-28 17:47] sjmcdowall commented on #61
Let me think about it -- because it's like a catch-22 thing where (I know impossible) we may want both actions. :)  However, if we can get the scrolling to work properly with the keyboard showing on Android .. then having the suggestions box gone with keyboard no-show would work.  See screen shot on Android showing the list -- both with keyboard and without.

When the keyboard is showing, it won't

[2019-02-28 20:18] KaYBlitZ commented on #61
From your images, the suggestions box is rendering with its full height, which is why scrolling doesn't work. That shouldn't be happening with the latest version. I am using the example included with typeahead and it's working properly. I would double-check that you are using 1.0.5 and maybe do a rebuild? Can you post the code that you are using to create the TypeAheadField? It is possible that so

[2019-02-28 21:00] sjmcdowall commented on #61
Yeah problrem #1 could easily be because of the simulator -- I can toggle the keyboard with %K .. so that's really not a big deal (and maybe a red herring).  I am for sure using 1.0.5. -- here is the pubspec.lock ..
[code]
Here is the code I am using -- is it possible the fixes didn't get into TypeAheadFormField ?

[code]

[2019-03-01 15:41] KaYBlitZ commented on #61
I tried to copy and paste your code to make it work in the example project but can't replicate the problem

[code]

It looks and works well still.
![screenshot_1551454648](https://user-images.githubusercontent.com/5499214/53648671-7d3eff00-3c0e-11e9-9bf4-d38e4ed20f88.png)

[2019-03-01 15:42] KaYBlitZ commented on #61
I am currently working on problems 4/5 with the property to toggle suggestions hide on keyboard hide.

[2019-03-01 16:03] KaYBlitZ opened #62 "Keyboard covering suggestions on direction up"
Might have to adjust offset on the fly as well to move the suggestions box to start just right above keyboard.
![simulator screen shot - iphone xs max - 2019-03-01 at 11 01 23](https://user-images.githubusercontent.com/5499214/53650038-96957a80-3c11-11e9-97dc-6ca44af02acb.png)

[2019-03-01 16:05] KaYBlitZ opened #63 "Suggestions box width not adjusting during orientation change"
I thought this was working before, but I guess not. Need to adjust width during orientation changes.
![simulator screen shot - iphone xs max - 2019-03-01 at 10 55 33](https://user-images.githubusercontent.com/5499214/53650138-da887f80-3c11-11e9-818f-59548f7587be.png)

[2019-03-01 16:38] KaYBlitZ commented on #60
Have you tried this:
[code]

[2019-03-01 16:40] KaYBlitZ commented on #48
I am working on incorporating the 3rd party library now and seeing if I can fix various other issues. Closing because the offending code has been removed.

[2019-03-01 16:40] #48 closed

[2019-03-01 17:36] sjmcdowall commented on #60
Hint yes -- how exactly do you see the default string in the case of a search typeahead type field? You could always set it in the text controller (assuming you assign a TextController) ?? I think in a Form version you can set an initial value as well ..

But -- that assumes what you mean by "default" value .. If you would show / describe some use cases/user stories for examples that would help .

[2019-03-01 17:43] sjmcdowall commented on #61
So I wonder what in the world is causing it to NOT work on our project -- as you can see in the image above the suggestion box certainly exceeds past the keyboard .. <scratches head>

[2019-03-01 18:04] KaYBlitZ commented on #61
Yea. It is strange. Sorry I can't help. Unable to reproduce.

Offshoot chance, but if you have time, can you try the develop branch from my fork? I moved where findRenderObject method call is actually being called to fix another problem (width resizing issues). It might fix your problem, since that call is used for sizing the suggestions box and I believe it was call prematurely before (hence the

[2019-03-01 18:34] sjmcdowall commented on #61
Yeah I'' give it a whirl since I want to see the other changes too-- but won't get it to until this weekend or later today

[2019-03-02 16:28] KaYBlitZ commented on #61
Hey Steve, one of our users @davidmartos96 , found a fix for the problem you are experiencing. The newer versions of Flutter seem to break the the calculation of the keyboard height. That would definitely cause the unscrollable suggestions you are experiencing. He was able to fix the problem by using RootMediaQuery. I was still unable to replicate the problem, but was able to confirm that using Ro

[2019-03-02 16:37] sjmcdowall commented on #61
Will do!!

On tomorrow’s or this afternoon list of things

Sent from my iPad

[2019-03-04 05:30] wsakka commented on #44
I agree it would be better to maintain the old result set as currently it's quite distracting to the end user (esp if it takes a second or more to return results). At the very least, it should be an option. We may need to uninstall until this behaviour is fixed.

[2019-03-04 12:39] sjmcdowall commented on #63
Fixed in 1.1.0

[2019-03-04 12:39] #63 closed

[2019-03-04 12:39] sjmcdowall commented on #62
Fixed in 1.1.0

[2019-03-04 12:39] #62 closed

[2019-03-04 12:39] sjmcdowall commented on #61
Fixed in 1.1.0

[2019-03-04 12:39] #61 closed

[2019-03-04 12:40] sjmcdowall commented on #43
Fixed in 1.1.0 (by default) with an option to change the behavior.

[2019-03-04 12:40] #43 closed

[2019-03-04 13:56] sjmcdowall commented on #44
@wsakka -- I have never seen this behavior and we use plugin all over the place.  Can you create (or someone) some reproducible little project that shows this?

As a work around why can't you await the loading yourself (I assume you're passing in a Future?) and once complete call setState() to rebuild .. or maybe make the callback async and await in there? Can't tell exactly what you are doing ..

[2019-03-05 11:16] wsakka commented on #44
@sjmcdowall I know you didn't bring it up but my apologies first of all for the tone of my last sentence, upon re-reading it sounded angry in tone when that wasn't my intention. It was just that the project manager did not like the behaviour so we may have to find another solution.

That being said, I captured a video of what I was referring to. Basically, if the user is typing any address (in thi

[2019-03-05 14:58] sjmcdowall commented on #44
Well that is very interesting!

I'd like to see the code behind this -- something seems .. odd .. about what you are seeing .. but I certainly agree this isn't a very good User Experience !

The searching seems pretty slow too .. which doesn't help ..

[2019-03-05 15:46] wsakka commented on #44
I was using the Network Link Conditioner to simulate a slow connection (sorry meant to mention that).  I'm away from my computer so I should have some sample code tonight.

[2019-03-05 21:16] KaYBlitZ commented on #44
Hi guys. Made some changes in my fork that I believe will address this issue. Haven't found any bugs when I checked but let me know how it works. #66 . My fork to test: https://github.com/KaYBlitZ/flutter_typeahead.git . The changes will make this behavior the default. I believe maintain the old results before the updates is the intended way for this widget to function instead of constantly resizi

[2019-03-05 21:17] KaYBlitZ commented on #44
Make sure to switch to the develop branch when testing....

[2019-03-06 00:22] sjmcdowall commented on #44
Yes -- as I learned the hard way ... :)

YOu need something like:
	git:
		url:   (the URL)
		ref: develop

To get the proper version

[2019-03-10 12:46] KanivaTimber opened #67 "Allow for "onFieldSubmitted" event."
In my case when using this widget the user might not want to use a given suggestion. In the case where they do not, I would like to take a different action than when using the "onSuggestionSelection" event and use something like TextFormField has which is a "onFieldSubmitted" event.

[2019-03-10 14:35] KaYBlitZ commented on #67
This is already implemented. It is just under a different name, onSubmitted. So all TextField parameters are under textFieldConfiguration like so:

[code]

[2019-03-10 14:35] #67 closed

[2019-03-10 21:39] KanivaTimber commented on #67
Awesome, thank you for the info!

[2019-03-11 14:50] sjmcdowall commented on #60
Closing due to no follow up on suggestion

[2019-03-11 14:50] #60 closed

[2019-03-11 14:55] sjmcdowall commented on #44
Fixed in 1.2.0

[2019-03-11 14:55] #44 closed

[2019-03-11 16:56] sjmcdowall opened #69 "Throttle suggestionsCallback future .."
This is more of a question -- although we are seeing bad behavior (keyboard not properly interacting in iOS Simulator) with our current (probably broken) behavior.

We have found ourselves in a situation where a user that keeps on type (slowly) is activating the getSuggestions callback multiple times BEFORE the previous one has completed.  This is an expensive DB hit for us ..and eventually our DB

[2019-03-11 19:56] sjmcdowall opened #70 "Serious issues with iOS keyboard ..."
I am having some weird behavior with iOS and keyboard appearing / not appearing then getting totally futzed up ..

Initially we have no focus on the Widget.. this is good ..

However, when I click in the box .. to set focus .. the screen flashes and the suggestionsCallback fires .. but.. in the end .. the list goes away and we're back to the original screen .. but.. I think the Widget thinks the k

[2019-03-11 23:02] KaYBlitZ commented on #70
It seems fine on my simulator. I am not getting multiple build calls. One thing I am curious about is how are you dismissing the keyboard. I am not too familiar with iOS. The only way that I can see to dismiss the keyboard is by pressing 'Done'. Since iOS doesn't have a back key that seems to be the only way.

One thing that I would check though is to make sure that for you simulator settings, dis

[2019-03-12 00:20] sjmcdowall commented on #70
Ok I’ll give it a shot but it happened in a physical device too ..

Sent from my iPad

[2019-03-12 12:54] sjmcdowall commented on #70
OK -- closing and fixed.  The issue had something to do with have a FutureBuilder in the loop in the build() as well.  BTW -- the build() really IS being called on iOS and not Android .. but this is part of a pageview set of screens under a route etc. etc. so it looks like the top level is getting a didUpdate() and propogating the build() down on iOS but not on Android .. <shrug>

However, letting

[2019-03-12 12:54] #70 closed

[2019-03-12 12:56] sjmcdowall commented on #56
I have this question also ...<shrug>

[2019-03-12 12:56] sjmcdowall commented on #25
Not reproducible since last few updates..

[2019-03-12 12:56] #25 closed

[2019-03-12 23:41] sjmcdowall opened #71 "Maybe a feature -- but how does someone force a new getSuggestions to fire even if same text?"
Here is the use case:
We have a TypeAheadField .. and we have basically a "radio button set" that controls additional filters to be applied to the getSuggestions.  The problem is that I can't think of any easy way to "fire" off the getSuggestions callback (and hence fire off the DB call and render a new suggestions box) from an external trigger like the user changing the radio button to use a diff

[2019-03-14 11:12] sjmcdowall commented on #71
@KaYBlitZ  -- Hey, any thoughts on this?  Our app is sort of in limbo without figuring this out .. Cheers!

[2019-03-14 14:59] KaYBlitZ commented on #71
Been quite busy. But can you give the TypeAhead a focus node and just
setFocus on the node? If you have getImmediateSuggestions set to true then
that should work.

On Thu, Mar 14, 2019, 7:12 AM S McDowall <notifications@github.com> wrote:

[2019-03-14 16:35] sjmcdowall commented on #71
Tried that -- but since the text hasn't changed it doesn't fire getSuggestions :(   We are now thinking of adding a keyboard controller and hacking the text input to force a refire -- but seems hacky .. code like:

[code]

Was hoping for a cleaner method ..<shrug>

[2019-03-14 16:58] KaYBlitZ commented on #71
Did you set getImmediateSuggestions to true? That should trigger the
suggestions when there's focus.

On Thu, Mar 14, 2019, 12:35 PM S McDowall <notifications@github.com> wrote:

[2019-03-14 17:30] sjmcdowall commented on #71
Yes, that option has always been on -- but it doesn't fire because the old pattern and new are the same .. and I think that is correct behavior because a build() can happen often in Flutter and if the pattern hasn't changed you (in general) don't want to re do getSuggestions .. unless you want to FORCE a refresh() ..

[2019-03-14 22:05] KaYBlitZ commented on #71
Glad the hack works. But I just tried out the focus method and it works for me? Tried it in the example app. I click the button an it focuses on the text field and it automatically gets the suggestions for me. Like so:
[code]

Are you manually checking the old pattern vs the new pattern in your code and somehow cancelling getSuggestions if it's the same? This is already automatic in TypeAhead, spe

[2019-03-14 22:26] sjmcdowall commented on #71
Not our use case -

Start with TypeAheadField having focus - type stuff

Have a button - on button press we want TypeAheadField to regain focus and call getSuggestions again because we have a new filter to apply inside the getSuggestions - but it’s the same input search pattern

[2019-03-18 01:05] kika opened #72 "FocusNode exception"
I'm on 1.2.0 and latest `dev` channel Flutter. My application has a `TabBar` with 3 tabs and when it starts it shows the first tab. `TypeAhead` is used only on the second tab, but if I switch from tab1 to tab3 I receive this:
[code]

It doesn't happen if I switch to tab2 (where `TypeAhead` is used), only if I switch from tab1 to tab3 or from tab3 to tab1. I'm struggling to create a repro case thou

[2019-03-18 13:30] KaYBlitZ commented on #72
I don't know exactly how TabBar works, but it seems that somehow by switch tabs from 1 -> 3 or vice-versa, the TypeAheadField is being initialized and disposed quickly in rapid succession. By the time the next frame comes around and is invoked, the focus node is already disposed, causing the crash you see. The line causing the crash is:
[code]

I think a quick fix is wrap everything in a mounted c

[2019-03-19 11:04] keertipurswani opened #73 "Can't see items in dialog"
Even though suggestions are being sent in itemBuilder, items can't be seen. Same code is working if I don't put it inside a dialog.

[2019-03-19 11:19] sjmcdowall commented on #73
I think we'll need to see the code and a sample little app showing this.  I've never used this for a Dialog before ..

[2019-03-19 11:22] keertipurswani commented on #73
Here is my code, It used to work before. I think it stopped working after I migrated to androidX.

showDialog(
        context: context,
        builder: (BuildContext context) {
          return SimpleDialog(
            children: <Widget>[
              Container(
                  padding: EdgeInsets.all(10.0),
                  child: Row(children: <Widget>[
                    Expanded(

[2019-03-19 11:23] sjmcdowall commented on #72
FocusNodes are very odd things especially in a TabNav .. where all the tabs are under a single widget tree focus thing .. meaning the focus nodes all interact with each other and setting Focus in one can cause other focus things to not happen in another.  It's sort of a mess .. Need to make sure the "correct" focus Node is disposed .. and what is happening in the lifecycle of the widgets...

I'd p

[2019-03-19 12:55] KaYBlitZ commented on #69
It's this code here:
[code]
You can pass in a Duration object into TypeAhead's `debounceDuration` with a longer wait time. From what I can see, every time the user types, the `_debounceTimer` is refreshed with the `debounceDuration`. When the user stops typing, after that duration, the suggestions callback is called.

[2019-03-19 13:03] KaYBlitZ commented on #72
@kika I am playing around and the example app included with this package has the exact same problem. I can confirm that switching between tabs 1 & 3 will cause the error. Furthermore, the `if(mounted)` check does fix this problem. We can add that in a future revision. It is strange why Flutter is creating and disposing of the 2nd tab when we are not even switching to it. Might be an issue to bring

[2019-03-19 13:10] sjmcdowall commented on #72
I'd like to see the code for the NavTab logic -- having implemented htis before I haven't seen this -- so I am wondering if there is some odd code in how the tabs are working... if you care to share ..

[2019-03-19 13:12] sjmcdowall commented on #69
@KaYBlitZ -- Yeah we already did that .. but it's not that sort of throttling -- although it helps.  What happens is that if the debounce is set to a "reasonable" time like 500ms .. but the query takes 2s to run .. we can still get overwhelmed .. I want to "queue" the db calls and ignore the middle calls .. and just do the last call..

Does this make sense?

[2019-03-19 13:13] KaYBlitZ commented on #73
@keertipurswani Are you not seeing the suggestions list at all? I have never tried putting the TypeAhead in a dialog, but using the code you posted, I see this:
![Screenshot_1553000813](https://user-images.githubusercontent.com/5499214/54608429-09cb2900-4a27-11e9-9b12-071e229d3ecd.png)
Looks like the suggestions list is showing, but is only as big as the length of the dialog is. If the field is at

[2019-03-19 13:19] keertipurswani commented on #73
Yes I can't see suggestions at all and my list is pretty long (500 suggestions in total). Where can I set the direction? and how can I see at least 4-5 items at once and scroll the rest?

[2019-03-19 13:23] KaYBlitZ commented on #69
That makes sense. Just not sure how to do that off the top of my head right now. Will mull it over later...

[2019-03-19 13:36] KaYBlitZ commented on #73
[code]
Check code above for directionality and setting the height. AFAIK, you can't set the number of items you want to see, only the height.

[2019-03-19 13:43] keertipurswani commented on #73
That works. Thanks :)

[2019-03-19 13:43] #73 closed

[2019-03-19 16:20] sjmcdowall opened #74 "Multi-selection ?"
We have a situation where, after we show a selection list .. we want to keep the list open so the user can click multiple items (and call the appropriate callback) after each one .. and of course refresh the selection list since we've removed the selected item .. :)

It would be slick to keep this going until the onSuggestionsSelected returns a bool "false" or something.. <shrug>  Just thinking ou

[2019-03-19 16:50] KaYBlitZ commented on #72
The example project in TypeAhead has a TabBar. I used that to reproduce the problem.

[2019-03-19 16:54] KaYBlitZ commented on #74
Not a fan of this idea. This seems to be extra functionality that is over the scope of a simple autocomplete textbox. I think something like that would be better being implemented separately.

[2019-03-19 17:47] KaYBlitZ commented on #56
This looks to be a shortcoming of the ListTile widget. There isn't any vertical padding added by default, which is why changing the padding doesn't affect the vertical space. It is not a problem on TypeAhead's side. I tried returning a Column instead of ListTile and the vertical padding was gone:
[code]
It doesn't look good, but proves that the padding comes from ListTile. Closing because it is no

[2019-03-19 17:47] #56 closed

[2019-03-19 23:40] KaYBlitZ commented on #72
Fixed in #75 (version 1.2.1). Thanks for the bug report.

[2019-03-19 23:40] #72 closed

[2019-03-20 10:16] sjmcdowall commented on #74
I understand your point -- although I would say we've gone way beyond a "simple autocomplete" widget quite a while ago. :)   I am giving it a SWAG but don't you think maybe 90% of the code base for a multi-select and this (since the underlying requirements are exactly the same interns of pattern / suggestion box/ etc) widget would be in common?

I may try a little implementation of a "multiSelect:

[2019-03-22 01:04] kika commented on #72
Sorry for disappearing, I was flying around the country for work. I tried with the tip of the master and can confirm that it's fixed. Thanks so much!

[2019-03-22 18:43] sjmcdowall commented on #69
Completed in 1.3.0.

[2019-03-22 18:43] #69 closed

[2019-03-22 23:15] zacwolfe opened #79 "Keyboard blocks overlay"
For some screens with variable number of fields, the placement of an auto-complete field may not be known at design time.  It would be great if the direction could adjust if there weren't enough room in the desired direction.  In this screenshot you can see that the overlay of suggestions is completely obscured:

![Simulator_Screen_Shot_-_iPhone_X_-_2019-03-22_at_16_10_10](https://user-images.gith

[2019-03-22 23:23] zacwolfe commented on #79
I have a fix that is working for me, I'll open a PR

[2019-03-25 18:42] KaYBlitZ commented on #79
This is definitely an interesting feature. I'll take a look at the PR when you are able to submit it.

[2019-03-25 20:39] zacwolfe commented on #79
Thanks Kenneth! I'd like to submit the PR but I don't seem to have the
requisite privileges to push my dev branch.  Is this something you can help
me with?

On Mon, Mar 25, 2019 at 11:42 AM Kenneth Liang <notifications@github.com>
wrote:

[2019-03-25 20:53] sjmcdowall commented on #79
You don't need permissions to submit a PR .. the PR should be from your forked develop branch to the main develop branch ..

Then either Kenneth or I will take it from there and do the merge / release to master ..

[2019-03-25 20:54] KaYBlitZ commented on #79
Did you fork the repository? You have to fork it first and make the changes
in your fork. You can then submit a PR from your fork to this repository.

On Mon, Mar 25, 2019, 4:39 PM MachineElf <notifications@github.com> wrote:

[2019-03-25 20:56] sjmcdowall commented on #79
AND -- make sure when you do what @KaYBlitZ says you modify the DEVELOP branch not the master.. :)

[2019-03-25 21:32] zacwolfe commented on #79
Done

[2019-03-30 02:28] sreyseng opened #82 "Return suggestions in "row" style versus "column" style option?"
Currently, suggestions return as a list. Any plans to make it so that the suggestions can return as a "row" of suggestions, and wrap around as needed?

For example, instead of:

[code]

It is:

[code]

[2019-03-30 13:49] sjmcdowall commented on #82
Would this be more like rendering a [GridView](https://docs.flutter.io/flutter/widgets/GridView-class.html) ??

[2019-03-30 13:49] sjmcdowall commented on #79
Fixed in #80 and published

[2019-03-30 13:49] #79 closed

[2019-03-30 13:50] sjmcdowall commented on #71
BTW -- I think there is a very similar request in the PageWise widget too if I am reading that correctly ..

[2019-03-30 13:51] sjmcdowall commented on #46
Since this issue has lagged for quite a while -- I am going to close.  Please feel free to open a new issue / PR when ready.

[2019-03-30 13:51] #46 closed

[2019-03-30 13:52] sjmcdowall commented on #74
Closing since it's not a highly (at all) idea and I think @KaYBlitZ has the right of it.

[2019-03-30 13:52] #74 closed

[2019-04-06 08:14] wiradikusuma opened #83 "Minimum chars before sending request?"
How do I set minimum chars before `suggestionsCallback` is triggered?

[2019-04-06 12:50] sjmcdowall commented on #83
You can’t .. why not just get check the pattern length in the callback before and return an empty of previous result if not long enough?!

Sent from my iPad

[2019-04-06 18:19] bee-warrior opened #84 "Avoid rerender if the results from suggestionsCallback is the same"
Right now the widget rerenders the list every time suggestionsCallback get called. But if the autosuggest results from the backend are the same it would be nice to not re-render the list. Maybe I am missing something? How we can implement it?

[2019-04-08 12:44] sjmcdowall commented on #84
I can not think of any clean way to do this without incurring a (large?) cost of comparing the new list with the old list .. and assuming there is a valid comparator for the items in the list ..

This maybe a "flutter" build() thing -- meaning -- as the Flutter dev team says, expect your build() method to be called a LOT and don't assume anything...

Have you found this behavior to be horribly ine

[2019-04-08 15:34] wiradikusuma commented on #83
That's actually a good idea. Thanks!

[2019-04-08 15:34] #83 closed

[2019-04-09 03:26] goodsauce opened #85 "Suggestion box height not adjusting after SlideTransition"
When triggering a <a href="https://docs.flutter.io/flutter/widgets/SlideTransition-class.html">SlideTransition</a> by selecting the TypeAhead, the height of the suggestion box is not recalculated.

_Slide Transition moved the TypeAhead in the direction of the arrow:_
![screenshot_modified](https://user-images.githubusercontent.com/7484569/55770671-88683300-5ac8-11e9-88f6-9f148c6f457e.png)

I looke

[2019-04-09 15:23] GiulioIzzo commented on #37
I'm trying to limit the width, but it doesn't work. Maybe I'm doing it wrong, but, since there was this problem with the height, I would like to ask you if you have also fixed the width constraint.
This is my code:
[code]

I'm using the 1.4.0 version

[2019-04-09 15:41] sjmcdowall commented on #37
Can we see a sample of what you are seeing??

Sent from my iPad

[2019-04-09 20:34] KaYBlitZ commented on #37
It's the code. I have a fix. I will open a PR.

[2019-04-09 22:14] bee-warrior commented on #84
@sjmcdowall @KaYBlitZ
Well, we use autosuggest every day with Google or Github. Both of them doest rerender the whole list if you are typing the same text from the suggestions list. And from autosuggest design patern, it shouldn't return more than 5-8 items. Comparing between 5-8 items shouldn't be an expensive operation and it will also make ui/ux experience much better

[2019-04-10 01:30] goodsauce commented on #85
_Adaption of example2:_

[code]

My goal of this was to have adjacent elements fade while shifting the TypeAhead up instead of scrolling.

...

When I spoke of the not so nice api, I was thinking of passing the `Animation<Offset>` object to the TypeAhead then using:

[code]

[2019-04-10 13:02] KaYBlitZ commented on #84
Flutter works a bit differently. You need a rebuild every time a change is needed, but I think we can limit expensive comparisons  by doing a size check first of the two lists. In this plugin, we don't limit the number of items. It depends on how many items the suggestionsCallback sends back and is up to the programmer. I'll see if I can implement this.

[2019-04-10 14:35] KaYBlitZ commented on #84
Actually, nevermind. Took a look at the code and it gets messy real fast if we try to implement this. We have other attributes, such `hideOnLoading` and `loadingBuilder` that requires a rebuild in order to show the loading animation and another rebuild to display the results when done. In order to not have a rebuild we would have to check whether these attributes are being used or not and if we im

[2019-04-10 14:54] KaYBlitZ commented on #84
Maybe a possible workaround is disable the sliding animation? The list will still be rebuilding, but will be unnoticeable....

[2019-04-12 06:59] ghost opened #87 "Test: Documentation/examples is/are needed."
I'm struggling with tests. I'm trying to test the FormExample. To be specific, I want to test that, after the user has entered something in the TextFormField, a ListTile should be displayed. Can you help me, please? This is my code:

[code]
The result is:

I think that some examples regarding this could be very useful.

[2019-04-16 03:07] hanbang-wang opened #88 "TypeAhead in floating widgets"
The current way of implementing typeahead widget would work correctly for fixed text field, however, for a floating widget like dialogs, the behavior would be incorrect.

More specifically, when the keyboard popped up, the typeahead would first calculate the height of the typeahead widget, and then the dialog would float to its right position. This would cause the size of the widget to be too smal

[2019-04-17 03:00] hanbang-wang commented on #88
A deeper look into the problem shows that it is actually the animation time of dialog being too long (100ms by default), so the default waiting time for TypeAhead is too small.

[2019-04-17 03:11] sreyseng commented on #82
I believe so, yes.

[2019-04-17 03:54] long1eu opened #89 "Provide a way to get the suggestions when onEditingComplete is called"

[2019-04-20 16:20] sjmcdowall commented on #89
I am not sure exactly what you are asking for here... can you give a use case or two on what you are trying to achieve and what you have tried that isn't working?

[2019-04-24 19:36] KaYBlitZ commented on #88
Thanks for the bug report. I was able to replicate the problem. Increasing the delay duration does seem to be the proper fix. The only difference is I believe the default time is 150 ms? I took a look at the showDialog function, which is calling showGeneralDialog and passing a transitionDuration of 150 ms.

[2019-04-24 19:38] KaYBlitZ commented on #88
Overall I think the fix should be to just change the following lines in `_waitChangeMetrics` to
[code]

[2019-04-24 19:40] KaYBlitZ commented on #89
You should be returning a list of suggestions in the `suggestionsCallback` section. Can't you just store that and use it in `onEditingComplete`?

[2019-04-24 19:54] hanbang-wang commented on #88
Yes, you are right, it is 150ms.

So another solution, without changing the source code, is to have a dialog with zero animation time.

I think the only proper solution for this is to customize an animation with a callback function, and only make typeahead calculate the height when the animation is completed. (thus typeahead needs to provide an interface for that)

Wish someday there will be a glo

[2019-04-25 12:02] KaYBlitZ commented on #88
That is another solution. I think I will just make the change to 150 in the TypeAhead code, granted that it doesn't break anything else. This way it will just be seamless and work without having the programmer do extra work with the Dialogs.

[2019-04-25 13:15] KaYBlitZ commented on #85
This seems to be the same problem as #88 . This bug can be fixed by increasing the delay in the following lines of TypeAhead:
[code]
in `_waitChangeMetrics`.

So basically what is happening is that `_waitChangeMetrics` is waiting for the keyboard to be finished toggling before calculating the height. Since your animation is 300 ms, the keyboard toggles much faster and the height of the suggestions

[2019-04-25 13:19] KaYBlitZ commented on #88
Just took a look at #85 . Seems to be the same problem as this. TypeAhead simply breaks whenever there is an animation involved. The height is calculated prematurely before the animation is completed.

You are right. The only real fix is to have some sort of animation completed callback. On our side we can probably expose the resize() call of TypeAhead so that suggestions box can be resized once t

[2019-04-25 13:25] KaYBlitZ commented on #85
Whoops. Just read the second part of your comment lol. That seems perfect. Think we can just expose the resize() call in TypeAhead to fix the problem.

[2019-04-26 13:14] KaYBlitZ commented on #88
Can you try my solution to see whether it works? In pubspec add:
[code]

[2019-04-26 13:17] KaYBlitZ commented on #85
Got a fix working. Can you try my solution? In pubspec.yaml add:
[code]

I also added documentation in README. Basically, create a SuggestionsBoxController and call resize during the status change completions of the animation.

[2019-04-27 05:14] hanbang-wang commented on #88
It worked (technically). However, 150ms might be too tight and there is some chance of failing. 200ms might be good but there's somehow notably lag.

[2019-04-27 14:36] KaYBlitZ commented on #88
I did notice it failing one time. Seems to happen rarely. Only real
solution is if the Google team exposes the animation controller so we can
detect the end or if we can somehow pass our own in. Maybe 170 ms would be
better as a temp fix?

On Sat, Apr 27, 2019, 1:14 AM SuperFashi <notifications@github.com> wrote:

[2019-04-27 15:04] sjmcdowall commented on #88
Until a more permanent solution (exposing the animation controller) is available I think we need to live with the 80/20 rule solution for now.. Maybe try 170ms and if that works for 80% of the cases call it "good enough" for now with maybe a "known" issue in the README.md ??

[2019-04-27 15:09] KaYBlitZ commented on #88
That seems reasonable. I'll play with it later today and update the PR.
Definitely like the idea of adding it to the README.

On Sat, Apr 27, 2019, 11:04 AM S McDowall <notifications@github.com> wrote:

[2019-04-28 10:05] goodsauce commented on #85
Just gave your solution a try and it works great!

Thanks for all your hard work

[2019-04-28 16:46] KaYBlitZ commented on #85
Nice. Thanks for testing. Will merge into master hopefully in a couple of days. Still need to test the animation problem with dialogs in another issue.

[2019-04-28 17:48] KaYBlitZ commented on #88
I updated the README and changed the delay to 170 ms. Also noticed something interesting. In the while loop where we are waiting for the keyboard/orientation to change, we are checking whether the change is done before waiting for 170 ms. The small suggestions box might be due to the keyboard toggling too fast and calling resize before we ever reach the delay. I swapped the order so that we are AL

[2019-04-29 20:41] SimonIT opened #94 "Can't use in a CupertinoApp"
Hi,
I wanna use this great library in a CupertinoApp.
But this exception appears sadly.
[code]

[2019-04-30 18:53] sjmcdowall commented on #94
Not sure at all how (or if) this can be fixed -- Material is sort of an underpinning of Flutter (or so I gathered) ... isn't there SOME Material widget you could use as a parent of the typeahead (and hence textfield?)

[2019-04-30 19:25] KaYBlitZ commented on #94
It can be done.... But will require some refractoring and creating new CupertinoTypeAhead classes. TextField will have to be changed to CupertinoTextField and so forth. Should be doable, but will take some doing.

[2019-04-30 19:34] KaYBlitZ commented on #88
Fixed in v1.5.0

[2019-04-30 19:34] #88 closed

[2019-04-30 19:34] KaYBlitZ commented on #85
Fixed in v1.5.0

[2019-04-30 19:34] #85 closed

[2019-04-30 19:36] KaYBlitZ commented on #84
Closing because I think it is working as intended by Flutter. Feel free to create a new issue if you disagree.

[2019-04-30 19:36] #84 closed

[2019-05-01 10:41] SimonIT commented on #94
I would really appreciate if this would be done. I would try to help as much as I can (If you want).

[2019-05-02 23:32] claudelk commented on #83
@sjmcdowall can we reopen this one? Checking the pattern length fires an exception, even if the pattern is not empty (and not null):

Code: ```
TypeAheadField(
            textFieldConfiguration: TextFieldConfiguration(
                focusNode: _recipientsFocusNode,
                autofocus: true,
                /*style: DefaultTextStyle.of(context)
                .style
                 .cop

[2019-05-02 23:51] claudelk commented on #83
Fixed it with this:

[code]

Always making sure to return an empty list if no call.

[2019-05-03 12:36] sjmcdowall commented on #94
@SimonIT -- We do take pull requests!    Not sure when we'd get to it since it's nothing anyone else has wanted -- although sometimes @KaYBlitZ just pulls off amazing things at odd times! :)

[2019-05-03 19:26] KaYBlitZ commented on #94
I have started some preliminary work on it. Basically just copied everything from flutter_typeahead.dart to a new file called cupertino_flutter_typeahead.dart and fixed all the glaring redlines by converting Material classes over to Cupertino. Thought having two separate files for Material and Cupertino would be cleaner and easeier, though now we have to maintain two codebases, since most of the c

[2019-05-03 20:03] SwissCheese5 opened #96 "keepSuggestionsOnLoading keeps the box permanently on screen"
When you enable keepSuggestionsOnLoading for the field, the box doesn't go away when you press the back button to remove the keyboard which is what is expected. However, at the same time, pressing back again completely exits the app and goes to the home screen, and you can't click away from the box to close it. It's permanently there.

[2019-05-03 20:08] SwissCheese5 opened #97 "Can't change the style of the text inputted by the client"
You can change the text style of the hint/floating label text, but not the actual input text.
Also the vertical padding is too little, but i'm not sure if that's a problem from my styling.

![image](https://user-images.githubusercontent.com/7407478/57162948-798b4c80-6df8-11e9-9843-6a289b9ed621.png)

[code]

[2019-05-03 22:00] SimonIT commented on #94
Nice, thanks! I will try it out.
I also tried splitting it in material and cupertino with abstract classes, but it doesn't work. If you want take a look (or help me^^), it's in my fork https://github.com/SimonIT/flutter_typeahead

[2019-05-04 20:41] fsobanski opened #98 "onSuggestionSelected callback removes focus from text field"
Hi,

when the `onSuggestionSelected` callback is invoked, it causes the text field to lose focus. Is it possible to keep the text field focused and the keyboard further open so that the user can continue editing the selected suggestion?

Output of flutter doctor:
[code]
Best,
Fabian

[2019-05-06 13:26] BerkOFF opened #99 "FlutterError: Looking up a deactivated widget's ancestor is unsafe"
Suggested change below fixes the problem of accessing context when widget is dismounted
flutter_typeahead-1.5.0/lib/flutter_typeahead.dart:1532
Future<bool> _waitChangeMetrics() async {
 ....
 if ( **widgetMounted && (** MediaQuery.of(context).viewInsets != initial ||
_findRootMediaQuery() != initialRootMediaQuery **)** ) {
return true;
}
...
}

[2019-05-14 18:55] KaYBlitZ commented on #99
Merged to develop. Will push to master in the upcoming days. Thanks for improving the code guys!

[2019-05-14 18:55] #99 closed

[2019-05-14 19:00] KaYBlitZ commented on #98
Not currently. Not sure if you are using this widget for its intended purpose? The user should just be choosing the one suggestion that they are looking for, not editing the results that come up.

[2019-05-14 19:05] fsobanski commented on #98
Thank you for your answer. In my use case, I have suggestions that are often very similar to the input that the user wants to type. I can't predict the user input exactly, all of the time.

[2019-05-14 19:22] KaYBlitZ commented on #98
I can add a new property `keepSuggestionsOnSuggestionSelected` (quite a mouthful) to TypeAhead. The only problem I see with this is that you have to be very careful with users who are using physical keyboards. They won't be able to close the suggestions box unless they have a back button. iOS users will be unable to close the box at all....

[2019-05-14 19:26] KaYBlitZ commented on #96
`keepSuggestionsOnLoading` is true (enabled) by default. Seems to work fine on my side. Disabling it seems to work as well? Can you post the code that seems to be getting stuck?

[2019-05-14 19:50] KaYBlitZ commented on #97
TextFieldConfiguration.style should work. You already have it in there. `style: TextStyle(color: Color(0xFFEEEEEE)),`. Just add more values to customize it? Also something is off with your code. Getting rendering errors when I copied it in and ran it.
[code]

[2019-05-14 20:09] fsobanski commented on #98
It would be great if you would add that property. Otherwise, I would have probably done it at some point. It's just not my priority at the moment.

For my mvp, I am only targeting android. I was also planning on dismissing the keyboard programmatically when the user taps somewhere outside of the keyboard,  the inputfield and the suggestion box. As far as I understand it, dismissing the keyboard sh

[2019-05-14 20:12] KaYBlitZ commented on #98
Yes, dismissing the keyboard will close the suggestions box. I can add a disclaimer or something in the README warning about problems with users using actual keyboards. Since they have physical keyboards, the soft keyboard will not show and cannot be dismissed.

[2019-05-15 15:18] KaYBlitZ commented on #83
That's pretty interesting. I am going to make a fix that will allow returning null. If you return an empty list, then it will show the no items! box. If you return null, a suggestions box will not show at all.

[2019-05-16 20:30] KaYBlitZ commented on #94
Hi, can you try the CupertinoTypeAhead class that I added in my branch? Want at least another person to test before we officially push it. Update pubspec:

[code]

[2019-05-16 22:03] SimonIT commented on #94
Sorry that I did not reply. I tested your implementation and it works well

[2019-05-16 22:22] KaYBlitZ commented on #94
You have any suggestions or complaints about the implementation? Trying to
see if we can improve it before pushing it out.

On Thu, May 16, 2019, 6:03 PM SimonIT <notifications@github.com> wrote:

[2019-05-17 20:13] SimonIT commented on #94
I'm totally fine with the implementation. One idea I got is giving the possibility to change the background color of the suggestion box.

[2019-05-19 19:50] KaYBlitZ commented on #98
Fixed in 1.6.0

[2019-05-19 19:50] #98 closed

[2019-05-19 19:50] KaYBlitZ commented on #94
Added in 1.6.0

[2019-05-19 19:50] #94 closed

[2019-05-21 23:12] claudelk opened #107 "Multi-suggestions?"
Hi team--

Thanks a lot for the job so far.

I am trying to implement in my app something similar to tagging people on Facebook/Twitter, etc. Flutter_typeAhead works great for one (I am using the classic '@' to kick off the backend service), but it stops there. Is there a way to:
1) keep the cursor active once a suggestion has been chosen
2) allow for another search (with space/colon/semi-colon se

[2019-05-30 08:36] chrise1967 opened #108 "TextFieldConfiguration onChange not being fired"
TextFieldConfiguration onChange not being fired. See follow example code.  The onChanged print(value) does not get called when entering text.

`

Widget build(BuildContext context) {
    return TypeAheadFormField(
      getImmediateSuggestions: true,
      textFieldConfiguration: TextFieldConfiguration(
        onChanged: (value) {
          print(value);
        },
      ),
      suggestionsCallb

[2019-06-05 14:23] romatroskin commented on #107
I was able to achieve this, but after some flutter updates, when there is a call to FocusScope.requestFocus in the onSuggestionSelected, suggestionsCallback do not call anymore, any ideas?

[2019-06-05 19:31] KaYBlitZ commented on #107
Only one suggestionsCallback is running at a time now. Some users had expensive DB calls, were concurrent calls were hitting the server too hard. If the user changes the text, the suggestionsCallback will be queued and called again once the current one is finished. But to address the original questions,

1. Does setting `keepSuggestionsOnSuggestionSelected` to true work? This will keep the suggest

[2019-06-05 19:59] KaYBlitZ commented on #108
Found the problem. onChanged was overridden in TypeAheadFormField. Works if using just TypeAheadField though. I can push out a fix in a bit

[2019-06-05 22:12] KaYBlitZ commented on #108
Fixed in 1.6.1

[2019-06-05 22:12] #108 closed

[2019-06-07 12:33] singlakaran commented on #89
@KaYBlitZ  you return list in onSuggestionSelected , but i want only selected item in list

[2019-06-07 12:53] sjmcdowall commented on #89
@singlakaran -- I have no idea why you are or think you are getting a list -- I use this a lot and all I get is the single item that was selected .. what does you code look like?

[2019-06-07 13:01] singlakaran commented on #89
@sjmcdowall
 itemBuilder: (context, suggestion) {
            return ListTile(
              title: UserDetails(
                  name: suggestion['userName'],
                  image: 'https://i.pravatar.cc/300?u=bajsbjas',
                  details: suggestion['userId'],
              ),
            );
          },
          onSuggestionSelected: (suggestion) {
            this._typeAheadContro

[2019-06-07 13:07] sjmcdowall commented on #89
Hint #1 -- you should use types .. the actual callback when you pass in what you do -- is a (dynamic suggestion) .. which is NOT an array but a Map (actually) .. you should do a

debugPrint(suggestion) in your onSuggestion to see the structure of the map as when passing in a ListTile not sure exactly what you will get back to be honest..

but your code will be something like

[code]

[2019-06-07 13:11] singlakaran commented on #89
yeah,i know it return Map, but i get full list in in  onSuggestionSelected suggestion

[2019-06-07 13:18] singlakaran commented on #89
thanks man @sjmcdowall

[2019-06-13 16:38] IanGrantMarino opened #111 "Custom Focus Node prevents suggestions"
It seems that passing a custom `FocusNode` to the `textFieldConfiguration` prevents suggestions from being displayed. Here is a basic sample app that should demonstrate this:
[code]

The text field in this app doesn't show any suggestions but if the `focusNode: FocusNode(),` line is commented out then it shows the overlay suggesting the two options.

[2019-06-24 14:43] jfbguy opened #112 "suggestionsCallback can't take a Future List?"
I followed the example code but seem to be getting an error while my http call is happening. I debugged and it throws this error right after the http call starts.

![Annotation 2019-06-24 073637](https://user-images.githubusercontent.com/664736/60028066-8b001080-9653-11e9-8ae4-96a843ee95b6.jpg)

Here is my setup, I can't tell if this is a bug or I'm just not following the steps somewhere. The exam

[2019-06-24 19:15] aytunch opened #113 "How to work with Data Model class instead of just Strings?"
I get a list of Products from my backend and I convert the JSON objects in to a Product Model Class and keep them in a List<Product>.

Product class has lets say an id field and a name field.
I can display suggestions with product.name however i get an error when i click on the suggestion. Product is not a subclass of String. How can i get the whole product object when user clicks on a suggestion?

[2019-06-24 19:39] aytunch commented on #113
[Similar issue is opened in flutter_form_builder which is dependent in this great package](https://github.com/danvick/flutter_form_builder/issues/21)

[2019-06-25 01:30] #112 closed

[2019-06-25 01:30] jfbguy commented on #112
Error was coming from a different component, it was just displaying as a part of the TypeAhead component

[2019-07-09 20:31] deakjahn commented on #113
`suggestionsCallback˛ expects a `Future<List<T>>`, not a `Future<List<String>>`. Likewise, `onSuggestionSelected` passes a `T`. I have no problems using the package with non-String items.

But I did receive error messages some time ago until I realized that `.where()`, the filter I used to create my suggestion list, has lazy evaluation and that's not what the widget likes. Isn't this by any chance

[2019-07-10 05:21] singlakaran opened #114 "keyboard get close when onSuggestionSelected call"

[2019-07-17 10:54] shrutikateiosys opened #115 "Typeahead suggestions goes up on appbar, its a overlay issue"
When i set autoflip for suggestions it goes overlay on app bar which looks not good kindly provide solution.
![Simulator Screen Shot - iPhone XR - 2019-07-17 at 16 20 47](https://user-images.githubusercontent.com/39264124/61370105-372dc380-a8af-11e9-9c69-782b1c94f2da.png)

kindly provide solution

[2019-07-18 15:24] aytunch commented on #113
@deakjahn Thanks for your input, can you please share a code snippet so I can try and see if it works. I am still having problems:/

[2019-07-18 18:23] deakjahn commented on #113
I have a POCO, very simple:

class Part {
      String name;
      String number;
      List<int> groups;
      List<int> pages;

      Part({this.name, this.number, this.groups, this.pages});
    }

When I create the widget, I just use this type:

    Widget _buildSearch() => TypeAheadField<Part>(
          itemBuilder: (context, item) => _buildSuggestion(context, item),
          suggestionsCall

[2019-07-22 08:46] fabiangruss commented on #113
Hi @aytunch ,

I do have the same problem when clicking on a suggestion, which is backed by a custom Model class. Displaying the list of suggestions based on the model is working fine, but clicking on the suggestion always throws the exception "...  is not a subtype of type 'String'. Did you solve that issue and if so, how?

Could you post the function behind your `onSuggestionSelected ` @deakjahn

[2019-07-22 11:09] deakjahn commented on #113
I could but you won't find anything interesting there:

    void _showPart(Part part) {
      if (part != null)
        // simply use part
        setState(() {
          _name = part.name;
        });
    }

Just as you would expect.

[2019-07-24 10:03] humazed opened #116 "Hidden suggestions box is on the upper left of the screen that captures clicks"
Hidden suggestions box is on the upper left of the screen that captures clicks.

the box that captures the clicks.
![Screenshot_1563962392](https://user-images.githubusercontent.com/8838182/61784877-d3554e80-ae0a-11e9-851b-137033f07fa6.png)

example of a problem this causes.
![untitled](https://user-images.githubusercontent.com/8838182/61784886-d81a0280-ae0a-11e9-940b-5522c88b9f05.gif)

[2019-08-02 08:50] valebar commented on #58
Try this:
`suggestionsCallback: (pattern) async {
                          testBloc.dispatch(SearchEvent(
                            searchTokens: pattern.split(' ')));
                          List<String> results;
                          await for (var state in testBloc.state) {
                            if (state is SearchStateSuccess) {
                              results = state.item

[2019-08-05 08:01] d3xt3r2909 commented on #115
Is there any information regarding this, I really need this to be fixed :(

[2019-08-07 13:36] fabiojansenbr opened #117 "[Sqflite] Why so slow?"
Hi, im using flutter_typeahead to get a list of brands located on a sqlite on my app.

When i run the first search , it tooks almost 10 seconds to bring the results to the suggestion box. after the first search, sequential searches are instantaneous.

The method to get from sqflite is:

[code]

And the typeahead is:

[code]

If i call the DBProvider.db.getAllBrands alone, it takes milliseconds to

[2019-08-07 21:09] andreclinio opened #118 "Selection text does not appear in textfield after onSuggestionSelected()?"
Maybe this is not a bug. But a desire feature?!
(I am learning Flutter right now)

Once you comment the navigation action in your " Example1: Navigation", I expect the
see the selected item text inside do textfield. This behavior is quite different from the
"Example 2: Form" -- that works as my expectations...

Any reason for that?

Here goes the simple diff I have locally done.
[code]

[2019-08-23 12:10] fabiojansenbr opened #119 "[Question] How to force select suggestion?"
Hi.

How i can force the user to select some suggestion and not accept itens wich are not on suggestion list? its possible?

thanks

[2019-08-24 07:58] diegoveloper commented on #116
Same error here, nice catch

[2019-08-25 04:17] diegoveloper commented on #116
Hey @humazed  , I fixed the issue and sent a Pull request, meanwhile you can use the package in this way:

[code]

[2019-09-10 09:31] pparadox11 opened #122 "Missing enableInteractiveSelection flag"
In the TextFieldConfiguration we should able to specify the `enableInteractiveSelection` flag

[2019-09-19 05:19] hassanbht commented on #119
Hi
i use it in validator

validator: (value) {
               if (_listState != null &&
                  _listState.length > 0 &&
                  _listState.indexWhere((c) => c == value.toString(), 0) < 0) {
                return "you can force to select some suggestion";
              }
              return null;
            },

[2019-09-23 02:06] MoacirSchmidt commented on #58
@valebar , thanks for you suggestion but it is a workaround like @sjmcdowall mentioned before.

With streams (or StreamBuilder), the suggestionList could be dynamically updated from local or remote queries assynchronously

[2019-10-07 16:56] VyMajoris opened #126 "Bump keyboard_visibility version."
It seems that the keyboard_visibility:0.5.1 has a bug with the registration that causes issues with firebase messaging.

https://github.com/FirebaseExtended/flutterfire/issues/145#issuecomment-532635075

[2019-10-13 05:04] davbaron opened #127 "hideSuggestionsOnKeyboardHide not working on iOS"
I have been investigating your excellent add-in for use in my Flutter app. I have built a generic 'pick value' screen which resembles your examples to some extent (no 'form' involved). All works great except for the 'hideSuggestionsOnKeyboardHide', but only on iOS. I develop on both a Mac and on Windows. On my Mac, I 'test' via the iOS simulator. When configured to *not* use the hardware keyboard,

[2019-10-16 13:42] KaYBlitZ commented on #127
Hi, I just updated the keyboard visibility dependency as suggested by another one of our users. This one should include a variety of fixes. Can you try typeahead 1.7.0 to see whether this fixes your issue?

[2019-10-16 13:42] KaYBlitZ commented on #126
I have updated the dependency. Feel free to create a new issue if you find another problem with this new version.

[2019-10-16 13:42] #126 closed

[2019-10-16 13:43] KaYBlitZ commented on #122
Merged from your PR. Thanks!

[2019-10-16 13:43] #122 closed

[2019-10-16 13:44] pparadox11 commented on #122
Thank u for the plugin :)

[2019-10-16 13:45] KaYBlitZ commented on #116
@diegoveloper I merged your PR, changing the code slightly by calling close() instead which should do the same thing. I actually tested both close() and your code, but I am still getting the problem described here.....

[2019-10-16 13:54] KaYBlitZ commented on #114
I believe this is normal functionality? The user is supposed to select one option.

[2019-10-16 13:56] KaYBlitZ commented on #119
Yes, you need to validate the selection if you want to add constraints.

[2019-10-16 14:56] davbaron commented on #127
I updated my pubspec.yaml to ^1.7.0 and stopped/re-started (re-compiled) my demo app.  There was no difference in behavior. Upon tapping the 'Done' button on the iOS simulator keyboard, the overlay is removed/hidden. Upon giving focus (tapping within) the typeahead text field, the overlay reappears (along with the keyboard).

[2019-10-16 17:41] KaYBlitZ commented on #127
Hmmm. Unfortunately this difference in behavior is not a bug in the code. Currently TypeAhead works by showing suggestions if the textfield has focus. Whenever the textfield loses focus, the suggestions box is hidden, no exceptions. You can actually mimic this same behavior by hitting the check button on the keyboard instead of the back button on Android. This causes the textfield to lose focus an

[2019-10-16 18:52] davbaron commented on #127
I understand your comments. That said, the behavior (most likely Flutter-produced) is different on iOS than on Android. On iOS, yes, the focus on the field is lost upon hitting the Done button, resulting in you hiding the suggestions list. On Android, tapping the 'back' button on the phone results in the keyboard closing, *but* the field maintaining focus, which results in your code keeping the su

[2019-11-04 06:37] irperera commented on #71
is there away to just find only the item or text that is typed in the box. exmaple I use it for codes, if someone type 100, i dont need 1001 or 1002 coming up.

[2019-11-06 09:49] rezam92 opened #130 "NoSuchMethodError Exception"
I use fluuter_typeahead v1.7.0 in my app which uses flutter 1.9.1.
But when i start typing in TypeAheadFormField widget, i get an excpetion as below:

NoSuchMethodError (NoSuchMethodError: The moethod call was called on null. Receiver: null Tried calling:call()).
I debug in VSCode , and there is callStack

**
new TypeAheadFormField.<anonymous closure>.<anonymous closure> (/Users/reza/Documents/flu

[2019-11-08 09:37] jaumard opened #131 "NoSuchMethodError: The method 'stop' was called on null. Receiver: null Tried calling: stop()"
Hello,

I have received this on my crashlytics:
[code]

[2019-11-08 10:03] jaumard opened #132 "NoSuchMethodError: The method 'remove' was called on null. Receiver: null Tried calling: remove()"
Got another one that append a lot (in _SuggestionsListState):

[code]

[2019-11-13 09:48] fluttdev opened #133 "Open suggestions on focus / Close suggestion box"
Hi,

first of all thanks for the great library! Got two questions about it.

1. Is it possible to open the suggestions box when the empty text field gets focus?

2. After closing the keyboard the suggestion box stays open with hideSuggestionsOnKeyboardHide: false. But how to close it? A tap somewhere next to it doesn't close it :/

Thanks for your help!

[2019-11-13 11:26] KaYBlitZ commented on #133
Hi,

1. There should be a property for getImmediateSuggestions or something
similar that does what you want.

2. The textbox would have to lose focus by selecting one. Or you can pass a
suggestions box controller to typeahead and call close on the controller.

On Wed, Nov 13, 2019, 4:48 AM fluttdev <notifications@github.com> wrote:

[2019-11-13 14:53] fluttdev commented on #111
Can confirm that behaviour! Will there be a bug fix?

[2019-11-13 15:44] fluttdev commented on #133
Thanks for your  answer!

Using getImmediateSuggestions fetches suggestions immediately when the field is added to the view. But I want the user to tap on the textfield first. I tried to get this behaviour with a custom suggestions box controller and a custom focusNode but ran into this issue:
https://github.com/AbdulRahmanAlHamali/flutter_typeahead/issues/111

[2019-11-22 08:08] SimonIT opened #135 "Failed assertion: line 710 pos 12: 'attached': is not true."
I am using the `CupertinoTypeAheadField` in [this](https://github.com/SimonIT/timetracker) project like the following:
[code]
[Here](https://github.com/SimonIT/timetracker/blob/master/lib/main.dart#L297-L346) the original file.
But this exception occurs while closing the suggestion box via `_projectSuggestion.close();`.
[code]
Versions:
[code]
[code]

[2019-11-27 14:27] talamaska opened #136 "A TextEditingController was used after being disposed."
So following best practices I do dispose my textcontroller in the dispose, but
but internally in the SuggestionsListState
[code]
for some reason is called after my parent dispose and I get an exception

[code]

flutter doctor
[√] Flutter (Channel stable, v1.9.1+hotfix.6, on Microsoft Windows [Version 10.0.18362.476], locale bg-BG)
[√] Android toolchain - develop for Android devices (Android SDK ve

[2019-11-28 08:32] joeblew99 opened #137 "Web support"
Just wondering if the web support is going to be merged from https://github.com/sarbagyastha/flutter_typeahead

[2019-12-02 03:30] rockingdice commented on #133
I've made a PR to fix this issue. Please try it. The animation is not good enough but working.

[2019-12-04 14:50] felipeleon73 opened #140 "How to prevent the suggestionbox from being scrollable?"
My suggestionsCallback always returns a maximum of 5 items. I would like the suggestionBox to show all 5 items (or less) and if there is no space at the bottom, it will auto-flip.
Instead the suggestionbox remains  at the bottom and shows me only a scrollable line

[2019-12-12 17:28] Puduru opened #141 "minLines is missing in TextFieldConfiguration"
minLines is a property of TextField, but is missing in TextFieldConfiguration.

[2019-12-19 19:13] Puduru commented on #141
i made a [pull request](https://github.com/AbdulRahmanAlHamali/flutter_typeahead/pull/142).

[2019-12-23 23:56] kjmj commented on #111
Also having this issue. Looking for a workaround

[2019-12-24 17:39] kjmj opened #144 "TypeAheadField onTap Functionality"
Just wanted to start off by saying that this is by far the best autocomplete widget for flutter. Very customizable, yet simple and easy to use.

I was wondering if there is a way to access onTap for the `TypeAheadField`. We want to run some extra code when the user taps on the `TypeAheadField` widget, and can't figure out how to do this. We have tried using a focus node, but that seems to prevent

[2019-12-25 09:54] hillelcoren commented on #137
Thank you for your work on the library, it works great!

Related to this issue are there plans to add keyboard support. For example, being able to use the up/down keys to move the focus between the options and tab or enter to select an item.

[2020-01-03 09:00] ljcom opened #145 "flutter_typeahead in web support"
I want to reuse this widget for web support, but there is error message like below:

Because no versions of flutter_typeahead match >1.7.0 <2.0.0 and flutter_typeahead 1.7.0 depends on flutter any from sdk, flutter_typeahead ^1.7.0 requires flutter any from sdk.
So, because flutter from sdk doesn't exist (the Flutter SDK is not available) and flutter_wbackstage depends on flutter_typeahead ^1.7.0,

[2020-01-16 16:22] kaciula opened #147 "Extend suggestions box to the left"
My text form field is narrow and I want my suggestions box to be wider and to extend to the left so that each suggestion fits in one line. Is this possible right now?

I can use the suggestionsBoxDecoration to give a larger width to the box but it extends to the right not left.

![device-2020-01-16-181619](https://user-images.githubusercontent.com/18688/72542286-91263a80-388c-11ea-9669-b83cb40356c

[2020-01-19 19:14] Temperantia commented on #144
We agree this is by far the best Textfield wrapper available.

I ran into the same issue as you, and realised TypeAheadField was not providing an onTap binding for its internal TextField.

However, I have been able to perform a workaround thanks to a focus node I binded to the TypeAheadField. After that, I added an addListener to this node in my initState widget function and checked inside the cal

[2020-01-20 15:04] sh0umik commented on #137
Its a bit weird! Its not working on flutter beta.

 `[✓] Flutter (Channel beta, v1.13.6, on Mac OS X 10.14.6 18G103, locale en-BD)`

It worked before ! I have also tried the `https://github.com/sarbagyastha/flutter_typeahead` in both `master` and `beta` channel and same problem, Not able to select any item in suggestion after result comes.

[2020-01-20 15:10] hillelcoren commented on #137
I believe it is working on the dev channel

[2020-01-20 21:35] hillelcoren commented on #137
I'm seeing the same behavior, it was working but now is not

[2020-01-21 06:16] kjmj commented on #144
I should have updated this issue - I forked the repo and added onTap functionality. Not sure if the developer wants this, but for those interested, here it is: https://github.com/kjmj/flutter_typeahead

[2020-01-23 14:56] #89 closed

[2020-01-23 14:56] #96 closed

[2020-01-23 14:57] #97 closed

[2020-01-23 15:12] #127 closed

[2020-01-23 15:37] KaYBlitZ commented on #140
You can return a list of only the first 5 items. Use `autoFlipDirection: true` in your TypeAheadField to have it auto flip the direction if there is not enough space.

[2020-01-23 15:37] #140 closed

[2020-01-23 15:39] KaYBlitZ commented on #141
Merged. Thank you!

[2020-01-23 15:39] #141 closed

[2020-01-23 16:02] KaYBlitZ commented on #144
Added functionality for future build.

[2020-01-23 16:02] #144 closed

[2020-01-23 18:37] KaYBlitZ commented on #136
Thanks for the bug report. I think a check for null via will fix this `widget.controller?.removeListener(this._controllerListener);` Will add in the next release.

[2020-01-23 18:37] #136 closed

[2020-01-23 18:39] KaYBlitZ commented on #147
Hi, great suggestion. I will add an offsetX in the SuggestionsBoxController to let you shift the box. Use constraints to set a proper width as well. Expect this in the next 1.8.0 release!

Use the `offsetX` property in `SuggestionsBoxDecoration` to shift the suggestions box along the x-axis.
You may also pass BoxConstraints to `constraints` in `SuggestionsBoxDecoration` to adjust the width
and hei

[2020-01-23 18:39] #147 closed

[2020-01-23 20:25] KaYBlitZ commented on #111
I've been testing this. Using the example by IanGrantMarino, the code does work with an external FocusNode. But when I use hot reload during testing, it breaks as described above. Can anyone else confirm this? Seems like a hot reload bug. If I completely close the app and start it again, the focus node will work again.

[2020-01-23 20:32] KaYBlitZ commented on #132
Fixed in latest version.

[2020-01-23 20:32] #132 closed

[2020-01-23 20:48] DevonJerothe opened #149 "HideOnEmpty not working"
Hello I am trying to hide the dropdown when there are no suggestions or when the textfield is empty. When there are no suggestions and the textfield has a query it hides correctly. However, if I backspace to empty or clear the TextController the empty suggestion box appears. Screenshots show my issue.

Here is my current code snip

[code]

Some screenshots

<img width="390" alt="Screen Shot 2020-0

[2020-01-23 21:17] KaYBlitZ commented on #149
Hi. I dont think there is anything wrong on typeahead's side. There is this snippet in the code

[code]
I am guessing that you are returning a non-empty collection in suggestionsCallback, which is why the suggestions box gets rendered. But in itemBuilder, you are returning null for some items, which make it appear that the suggestions are empty. Can you perhaps try trimming you collection before r

[2020-01-23 21:29] KaYBlitZ commented on #137
I cannot merge #134 . The code that is used breaks functionality for iOS users. You can see my explanation there.

With regards to broken functionality, what exactly is not working. Is it mobile or web? What's the exact problem?

[2020-01-23 21:34] DevonJerothe commented on #149
Right as I posted this I noticed that.... sure enough removing the null showed I was returning suggestions. Cant believe I didn't catch this, was driving me mad lol. Thanks for that tho! closing.

[2020-01-23 21:34] #149 closed

[2020-01-24 14:03] DisbarredMouse commented on #137
It's Web for me, Dont know about Mobile. when on latest from master, dev, or beta channel onSuggestionSelected doesnt seem to get triggered. As a result I am not able to select any item in the selection list, list just closes without any item getting selected.

[2020-01-24 21:44] JeffOlajos opened #151 "Beta Channel v1.13.6 - Issues"
Flutter for Web

This plugin seemed to work relatively well until the recent flutter release on the beta channel. Now it wont fire the onTap() of the InkWell inside your onSelected. Have you run across this?

Ive tried a number of things to simplfy but I'm unable to get it to function. If I roll back to Beta Channel v1.12.13+hotfix.6 it works fine.

[2020-01-24 23:45] DisbarredMouse commented on #151
Same problem for me.

Seems broken if using flutter v1.13.3 or later

[2020-01-25 19:02] #135 closed

[2020-01-25 19:10] KaYBlitZ commented on #151
Can one of you post sample code?

On Fri, Jan 24, 2020, 6:45 PM DisbarredMouse <notifications@github.com>
wrote:

[2020-01-28 22:36] Hadii1 opened #152 "Suggestions don't show up in bottom sheets"
Hello, Thank you very much for this great widget. I was trying to use in bottom sheets and suggestions weren't showing up. I'm using  the latest version (1.8.0) and here's a minimal code to copy paste:

[code]

[2020-01-29 09:51] mesutaltuncu commented on #118
First define a controller
`final TextEditingController _typeAheadController = TextEditingController();`
then
`TypeAheadField( textFieldConfiguration: TextFieldConfiguration(
                                controller: _typeAheadController,
....`

[code]

[2020-01-29 12:52] kenneth-terraii commented on #152
Seems to work fine for me?
![Screenshot_1580302288](https://user-images.githubusercontent.com/57580895/73358270-3ddcc080-426c-11ea-9c3a-a24f87cbd774.png)

[2020-01-29 12:53] KaYBlitZ commented on #152
Hi, it seems to work fine.
![Screenshot_1580302288](https://user-images.githubusercontent.com/5499214/73358358-72e91300-426c-11ea-8453-837ae91f57fe.png)

[2020-01-29 12:56] KaYBlitZ commented on #145
Try using v 1.8.0

[2020-01-29 14:37] Hadii1 commented on #152
I was trying the code on an iphone 11 pro max emulator , I tried it again on a pixel 3 android emulator and it seemed to work. maybe the issue is iOS specific?

[2020-01-29 22:35] digitalkaoz opened #153 "SuggestionsBox doesnt show up again on IOS"
After the first successful suggestion, i cannot focus the text field again and search for another suggestion. It works on Android, not on IOS.

[code]

For Android i have the material variants

[2020-01-29 23:17] crimsonsuv commented on #137
Hello, will we get an update for the latest flutter beta? as the web is not working, the suggestion list is not showing.

[2020-01-30 01:53] TimWhiting commented on #152
I've been able to reproduce this issue on web / desktop.

The issue is that the suggestionsBox only updates it's size and offset when the widget is first built, when the keyboard is displayed, window is resized, or scroll position changes.

This misses the case when none of those things happen, but the location has changed.

For example on web / desktop the virtual keyboard doesn't pop up when the

[2020-01-31 14:21] Hadii1 commented on #152
@TimWhiting  Thanks for the insight . I'm delaying the widget first build now manually with a future.delayed and it does show the suggestions. Ugly but it works for now until a later fix.

[2020-02-02 00:12] TimWhiting commented on #152
A future.delayed was my initial approach as well to validate the issue. It definitely needs to be fixed in the library as well. I just pushed an update to my branch that just resizes the box every time the overlay gets built. It's probably not super performant, but it works. @AbdulRahmanAlHamali what are your thoughts on this issue?

[2020-02-02 22:27] enzotar opened #154 "Package Import Failing on Web / Works on Android Emulator"
Web build is failing with the below message
Dependency is properly added to pubspec.yaml
Tried versions Flutter Dev channels 1.13.3 and 1.14.6

Works with Android emulator with Flutter Dev 1.14.6

[2020-02-04 16:39] kaciula commented on #108
@KaYBlitZ I'm seeing this issue in version 1.8.0. onChanged() is not being called for TypeAheadFormField.

[2020-02-08 06:27] bluemix commented on #137
currently, v1.8.0, after clicking on the suggested item, it doesn't reflected back as being selected
![flutter_typehead_issue_on_web](https://user-images.githubusercontent.com/3332274/74080424-13052000-4a55-11ea-9605-9a628b9af788.gif)

[2020-02-18 16:07] jshep23 commented on #151
This is still broken. Here is a gist with some sample code.
https://gist.github.com/jshep23/42ccc4c56f73171edb0c77392a81f957

Current version of the plugin is flutter_typeahead: ^1.8.0
I just tried upgrading to Flutter Version : 1.14.6 in the beta channel and still not working.

Also confirmed rolling back to Flutter Version v1.12.13+hotfix.6 "fixes" the issue

[2020-02-18 16:14] jshep23 commented on #151
Just to add, there is no error raised. The suggestions list shows up correctly, however when you try to select an item, the suggestions list just disappears, and the logic in the `onSuggestionSelected` handler is never executed.

[2020-02-20 08:20] bradyt opened #155 "StatefulWidget, widget test, autofocus, cause A TextEditingController was used after being disposed"
If I clone your project, and modify contents of `test/flutter_typeahead_test.dart` to be the following,

<details>

[code]

</details>

Then I get the following error:

[code]

<details>

[code]

</details>

[2020-02-20 12:32] abcnow opened #156 "Selecting Content from Dropdown Menu with Mouse is not Working on the Web"
Selecting content from dropdown menu (from a search) is currently only working from ipad and iphone when you touch content but if users use the mouse from a pc browser is not allowing such selection. So it is currently non-functional for the web

[2020-02-20 15:46] jshep23 commented on #156
Just to keep things in order, this is most likely related to issue #151

[2020-02-21 00:54] #156 closed

[2020-02-21 00:55] abcnow commented on #151
same problem.. we have created an encyclopedia and when users search and try to select content from dropdown menu with mouse is not allowing them to do so.. it works on iphone and ipad with touch but not with mouse on pc/desktop/browser

[2020-02-21 00:58] abcnow commented on #156
Thanks Jshep! I added this on that #151 to keep things organized

[2020-02-21 07:53] DeepakKanyanRor commented on #151
Same Problem.

[2020-02-21 09:14] DeepakKanyanRor opened #157 "onSuggestionSelected not working Web."
I'm using  **flutter_typeahead: ^1.8.0** . All things Working correctly but when I select Item from dropdown onSuggestionSelected not called.

[2020-02-21 09:15] DeepakKanyanRor commented on #157
[code]

[2020-02-22 08:49] dnfield commented on #155
Does this still throw?

[code]

[2020-02-22 15:51] raullermen commented on #157
onTap inside itemBuilder not working either on web =\

[2020-02-22 16:13] dnfield commented on #155
Assuming that works, TextFieldConfiguration should probably have a a dispose method on it

[2020-02-22 23:00] bradyt commented on #155
@dnfield Unfortunately yes, with

[code]

[2020-02-24 21:25] dan-r95 commented on #157
having the same issue here!

[2020-02-25 03:44] abcnow commented on #157
just to keep things organized .. this issue seems related to this one here ..#151

[2020-02-25 03:44] jquintana53 commented on #157
I'm facing the same issue here, using it for a **flutter web** app.

Also the highlighted element in the suggestion box when hovering the mouse over is above the pointer by hundreds of pixels.

Below is a **quick app code to reproduce it**:

[code]

**Flutter doctor**

[2020-02-25 03:48] jquintana53 commented on #151
Below is a **quick app code to reproduce it**:

[code]

[2020-02-25 15:48] jquintana53 commented on #151
**Work around** (until it gets fixed)

Following the above example, wrap the widgets provided by itemBuilder in a Listener:

[code]
PS: The mouse pointer highlight in the list will still be off but it'll work.

[2020-02-26 16:28] nateshmbhat opened #158 "I am getting the following issue when building flutter aar for my module"
[code]

[2020-02-26 16:51] nateshmbhat commented on #158
Can u please use a higher version of this library which fixes this isssue ?

[2020-02-26 21:29] ryanhz opened #159 "The method 'call' was called on null in CupertinoTypeAheadFormField"
From sentry log:

[code]

It looks like onChanged is null?
[code]

My configuration is:

[code]

[2020-02-27 12:11] DeepakKanyanRor commented on #157
no solution!!!

[2020-02-27 23:21] abcnow commented on #157
"deepakKanyanRor" this workaround worked for us momentarily...the mouse highlight doesn't work with this but when you point and click with the mouse it does the job...
https://github.com/AbdulRahmanAlHamali/flutter_typeahead/issues/151#issuecomment-590934761

[2020-02-27 23:24] abcnow commented on #151
@jquintana53 thanks for the tip.. it worked for us!

[2020-02-28 09:23] nateshmbhat opened #160 "Getting error : line 1687 pos 12: 'hasSize': RenderBox was not laid out: RenderLeaderLayer"
[code]

[2020-02-28 14:22] jquintana53 commented on #151
If you'd like to remove the highlighting you can wrap the ListTile in a Container with a defined background color, there will be no highlighting but I think it'll be less confusing to the user. See below:

[code]

[2020-02-28 17:31] jshep23 commented on #151
Thanks @jquintana53! This also worked for us. Hopefully a long term fix can be implemented soon, but this gets us moving! Appreciate it 👍

[2020-03-01 19:50] BenevidesLecontes commented on #152
@Hadii1 I can confirm, it doesn't work on ios, works on android.

[2020-03-04 20:45] emaddoma opened #162 "Would it be possible to only start autocomplete after a specific character is entered, such as "@"?"
I have the need to provide autocomplete but only in the context of a "user lookup".  Is it possible to only start the autocomplete functionality after the "@" character has been entered into the field?

[2020-03-05 10:44] kiaxseventh commented on #157
having the same issue
are you have solution ?

[2020-03-12 11:10] showcase-budha-sanjeev opened #163 "when keyboard_visibility and flutter_keyboard_visibility used together"
Class FLTKeyboardVisibilityPlugin is implemented in both /private/var/containers/Bundle/Application/C88883F2-1D68-415B-BBC2-C37AB7EAE344/Runner.app/Frameworks/keyboard_visibility.framework/keyboard_visibility (0x102a30f40) and /private/var/containers/Bundle/Application/C88883F2-1D68-415B-BBC2-C37AB7EAE344/Runner.app/Frameworks/flutter_keyboard_visibility.framework/flutter_keyboard_visibility (0x10

[2020-03-18 14:27] rasmuschristensen commented on #151
thanks @jquintana53 great workaround for now

[2020-03-23 18:55] vikalpnagar commented on #43
I am also having this problem. I need a way to dismiss the suggestion box when tapped outside its bounds. Is there a way to do it other than setting hideSuggestionsOnKeyboardHide to true?

[2020-03-26 10:10] peterweb2005 opened #164 "could yout please add textAlignVertical for TextFieldConfiguration for TextField?"
https://api.flutter.dev/flutter/material/TextField/textAlignVertical.html

as when has prefix / suffix, text would aligned bottom,
but normally text should align vertical middle (center)

thanks

[2020-03-26 21:25] peterweb2005 opened #165 "could you please add "return null" in onSuggestionSelected? which means cancelled in flutter"
as title

thanks

[2020-03-27 15:37] asheshpaul opened #166 "TypeAheadFormField itemBuilder items list not showing on any kind of MediaQuery.of(context) #53416"

[2020-03-27 15:40] asheshpaul commented on #166
Widget build(BuildContext context) {
    var orientation = MediaQuery.of(context).orientation;

    return Scaffold(
      body: Form(
        child: (orientation == Orientation.portrait)
            ? _buildPortraitLayout()
            : _buildLandscapeLayout(),
      ),
    );

I am tring this.

[2020-03-28 08:01] #166 closed

[2020-03-31 09:58] julien100000 opened #167 "Option to change "No items found!" message"
It would be very nice if it would be possible to change this message (e.g. pass as input parameter).

[2020-03-31 11:15] DevashishUtrade opened #168 "The suggestions are shown as single items in Alerts. The size of suggestions container depends on parent's (of Typeahead field) height."

[2020-03-31 13:03] #164 closed

[2020-04-03 06:36] mahendragp commented on #115
I am also getting the same issue.

did you find any solution?

![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-03 at 12 04 40](https://user-images.githubusercontent.com/15658830/78331364-82097b80-75a3-11ea-8e41-e1bd931e8903.png)

[2020-04-03 08:56] thukuwanjiku commented on #167
@julien100000  Have you checked out the [`noItemsFoundBuilder`](https://github.com/AbdulRahmanAlHamali/flutter_typeahead/blob/fc11e4cf78223a8deaddff794b51a292ce705cd9/lib/flutter_typeahead.dart#L511) I use it like below and it works fine

`noItemsFoundBuilder: (context)=> ListTile(title: Text('No matches found'))`

[2020-04-04 03:47] shrutikateiosys commented on #115
No

On Fri, Apr 3, 2020 at 12:06 PM MahendraGP <notifications@github.com> wrote:

--
*Shrutika Tatkare | Eiosys Inc.*

Tel: +91 22 6464 6561 | shrutkat.eiosys@gmail.com | http://www.eiosys.com

[2020-04-04 15:54] julien100000 commented on #167
Did not found that @thukuwanjiku . Thank you very much! :)

[2020-04-04 15:54] #167 closed

[2020-04-06 10:45] vikalpnagar opened #169 "How do I close suggestion box when touched outside its bounds."

[2020-04-08 11:02] Stephen-Cronin commented on #115
I'm having the same problem.

If I set the direction to AxisDirection.up it goes up over the app bar, which I don't mind so much, except that if a user wants to select the top item, they can't, because it pulls down the notification drawer (my app is a full screen app).

If I set the direction to AxisDirection.down, it goes down behind the keyboard and the user can't see what the suggestions are a

[2020-04-08 11:14] Stephen-Cronin commented on #118
I'm having a problem with this too. I have a controller set up:

[code]

and assigned:

[code]

and have this code for when a suggestions is made:

[code]

That outputs:

[code]

I think that shows that it's worked and the text has been set (although not sure what the TextRange is about?). However, the value never gets displayed in the autocomplete text field:

![autocomplete](https://user-images.

[2020-04-08 12:30] CiriousJoker commented on #117
Have you lowered the default debounce duration?
`debounceDuration: Duration(),`

[2020-04-08 15:26] Stephen-Cronin commented on #118
Further info: I found that removing the controller entirely meant that instead of the text field being set to empty and losing focus, it retained whatever had been typed so far (not what was selected form the list). Also the `keepSuggestionsOnSuggestionSelected` worked as expected.

So that approach could be a workaround for people facing this problem, but obviously not as good as setting the fiel

[2020-04-09 05:28] ciriousjoker opened #170 "Ink doesn't get clipped"
The ink goes over the whole area even if the box is rounded.

[2020-04-09 11:33] Stephen-Cronin commented on #118
Okay, I've now worked out that I was doing it wrong!

I had defined the controller in the build widget. When I moved it up above that, into the top level of the stateful widget, it started working as expected, ie setting the controller.text to the suggestion worked properly.

I have noticed a little bit of weirdness with very occasionally the "TextEditingController was used after being disposed" e

[2020-04-09 15:46] JaviBonilla commented on #157
Any progress on this? Thanks!

[2020-04-11 03:07] jasteeman commented on #169
Hi @vikalpnagar
Did you find a solution?

[2020-04-11 04:06] vikalpnagar commented on #169
Yes, I found a workaround to close suggestions when touched outside. I am showing a modal barrier just like flutter's dropdown widget does. I don't know if it's the right way to do it but it is working for now. I did it in a hurry so it might not be optimized.

[code]

[code]

[code]

[code]

The suggestions won't be closed on the back press. In order to that, it will have to be pushed as a route,

[2020-04-13 09:07] stalko commented on #157
Are there any updates?

[2020-04-13 15:47] lucas-sesti opened #171 "How can i get the axis direction?"
I'm trying to get the axis direction of current suggestion box opened, but i can't find a way to get this value.. i tried add the suggestion box controller, but doesn't have this option to get, and in the TypeAhead too...

[2020-04-15 01:35] ianspryn commented on #111
I think I found a different way to reproduce the bug.

I'm using your library as a way to list similar tags to what the user has typed, and then the user can tap a suggestion to insert it into the text field. As a result, the keyboard dismisses itself because I tapped outside of the text field. Since I want to keep the keyboard up, I say `focusNode.requestFocus()` in the `onSuggestionSelected` cal

[2020-04-15 12:01] ciriousjoker opened #172 "Adjust offset via SuggestionBoxController"
### Use case / problem
There's a chiplist and the typeahead box below it. I want to show the Suggestionbox above the typeahead. However, if there are chips in the chiplist, then I don't want to cover those. Therefore, I have two different offsets depending on if there are any chips selected or not. Right now the only way to achieve this is by forcing the suggestionbox to rebuild with the new offse

[2020-04-19 16:34] robindijkhof opened #175 "[Feature request] Scroll to top on focus / onSuggestionsOpened callback"
On most mobile devices the Keyboard takes up about half the screen size. In this case, the TypeAhead widget is only useful when it is at the top of the screen. Otherwise, the suggestions are barely visible. The picture below is Example 3 with the suggestions open on a Nexus 5X.
![Screenshot 2020-04-19 at 18 28 47](https://user-images.githubusercontent.com/22224763/79693595-cebfa880-826b-11ea-8df4-

[2020-04-21 06:52] brizaldi opened #176 "update flutter_keyboard_visibility to a newer version"
I'm currently having dependency conflict because my other package depends on flutter_keyboard_visibility version 2.0.0

[2020-04-24 02:13] brizaldi commented on #176
cc @AbdulRahmanAlHamali @sjmcdowall @KaYBlitZ

[2020-04-24 07:30] Stephen-Cronin commented on #175
@robindijkhof - I'm not involved in this project, but sounds like you need to use the direction property. From [the readme](https://github.com/AbdulRahmanAlHamali/flutter_typeahead#customizing-the-growth-direction-of-the-suggestions-list):

That said, I'd actually like some options around scrolling on focus. I'm trying to use this on a full screen landscape view, so a) there is very very little sp

[2020-04-25 21:10] pureimpro commented on #160
Hi, any update ?
I have the same issue.
There may be a link with route navigation because i noticed in my app that navigator.pushNamed call to a page including type_ahead field leads to this error message, whereas standard widget call in a page works fine.
Any help is much appreciated !

[2020-04-26 12:43] ivenxu opened #179 "Open suggestion box and list all the items"
It's very convenient for the user to type and narrow down the list to select when there're a long list of items. However, it's quite often the list is not so long but the user has no idea what to type.

In the second case, the user would like just open the whole suggestion list and then pick one of it. Is that possible to pop up the whole suggestion programmatically or have a triangle at right sid

[2020-04-26 17:12] tezine opened #180 "Suggestion Box not displayed inside Dialog"
Hello,
I tested TypeAhead and it works fine in the web when not using inside a dialog, but  the suggestion box is not displayed when I used it inside a Dialog using the code below:

[code]

Any ideas on how to contour this issue?

[2020-04-26 17:36] tezine commented on #180
I was able to contour this problem by using a suggestion controller and calling:
[code]
after retrieving the suggestions from the backend.

I had also to change the itemBuilder as below, because onSuggestionSelected was not fired in the web:
[code]

[2020-05-05 04:52] klokoleva commented on #157
resserved, same problem

[2020-05-06 10:54] bambinoua opened #182 "WEB: The overlay widget is opened with full height."
How to make overlay's height autosized? Also when first character is typed the overlay become full height and then autosized to fit the place occupied by search results. So flicker effect is occurred

[2020-05-06 11:53] #182 closed

[2020-05-07 10:16] TharaniP opened #183 "Suggestion list is overlapping with Appbar."
Hi,
   While scrolling to the top, suggestion list is overlapping with the appbar.

For more clarification please refer the screenshot.

![Overlapping issue](https://user-images.githubusercontent.com/53432405/81283062-aad8d100-9079-11ea-8c57-507b2158ed06.png)

[2020-05-07 13:56] rgb1380 opened #184 "Keeps Animating the Overlay"
Assume the suggestion list is

['abc', 'abcd', 'abcde']

As the user types 'abc', the suggestion list will not change. However, the widget keeps animating display of the overlay box. The animation is only a meaningful cue if the suggestion list is changing.

[2020-05-09 01:29] davidSchlosser opened #185 "Problem with 'paste' into TypeAheadFormField"
Following error is reported in the IDE console when I attempt to paste the word 'dynamic' into a TypeAheadFormField in my application. I've been able to work around the issue by providing a dummy 'onChanged' parameter in the textFieldConfiguration. ie `onChanged: (_){}`

Using flutter_typeahead version 1.6.1

[VERBOSE-2:ui_dart_state.cc(157)] Unhandled Exception: NoSuchMethodError: The method 'cal

[2020-05-10 15:58] afratul-taohid opened #186 "onSuggestionSelected not called in Web"
i tried both flutter_typeahead_web and flutter_typeahead. but onSuggestionSelected not called in web..

[2020-05-10 21:39] rlazom opened #187 "If the suggestion list is open and Navigation Pops() (go back) an error is thrown"
Lets say I have two views: home and details.

When I'm on details if I open the suggestions (start typing), but don't select any of the option and go back in the navigation stack an error is thrown.

`I/flutter (32100): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (32100): The following assertion was thrown while finalizing the widg

[2020-05-11 16:21] sjmcdowall commented on #185
@davidmartos96  -- or anyone else -- is this a specific error that occurred in 1.6.1 or before or ?  I am trying to figure out the sort of issue we are having here and if it was caused by some recent PR.

[2020-05-11 17:53] davidmartos96 commented on #185
@sjmcdowall I'm not familiar with this issue. But I don't think is related to one of my PRs. Does this occur in the latest version of the plugin? 1.6.1 is from last year.

[2020-05-11 18:34] sjmcdowall commented on #185
@davidmartos96 -- Sorry I did mean @davidSchlosser the author of the issue.  I also sort of think maybe the version is a typo (although that's a good point).   I haven't heard anyone else complain about this so .. maybe some edge condition ..

[2020-05-11 18:36] sjmcdowall commented on #187
Repeatable?  Also -- was there more of a stack trace to be had? And confirm the version you are using.

[2020-05-11 19:17] rlazom commented on #187
First of all, thanks for the quickly answer.
I'm using: flutter_typeahead: ^1.8.0

I manage to find the issue, the error is triggered on this conditions:
- The suggestion list is open
- The dispose method was called and the TextEditingController used on the Typeahead's TextFieldConfiguration controller was disposed

`
@override
  void dispose() {
...
    _usernameCtrl.dispose();
    ...
    super.

[2020-05-11 21:27] davidSchlosser commented on #185
Hi, thanks for looking at this. I was indeed using 1.6.1. With 1.8.1 - the problem still exists, same work around avoids it.

[2020-05-14 14:23] Sorunome opened #188 "onSubmitted and onChanged appear to be broken"
In the text field configuration, onSubmitted and onChanged appear to be broken:

[code]
fails to compile with

[code]

If forcing with `as void Function(String)` at the end the same error appears as a runtime error.

When leaving out the `String` type definition things seem to work:
[code]

Same applies for the onChanged property

[2020-05-14 19:37] atta1234 opened #189 "Hello, validatore showing return type warning"
validator: (value) {
            if (value.isEmpty) {
              return 'Please select Province';
            }

          },
          onSaved: (value) => this.selectedCountry = value,

{
	"resource": "/C:/Users/Hello/Desktop/fffapp/fffdesign/lib/screen/getcsc.dart",
	"owner": "dart",
	"code": {
		"value": "missing_return",
		"target": {
			"$mid": 1,
			"external": "https://dart.dev/tools/dia

[2020-05-15 06:59] michcio53 commented on #58
any news?

[2020-05-15 12:54] leanhro2812 opened #190 "* SuggestionsCallback error !!"
The suggestionsCallback function calls repeatedly when I enter a keyword
causing itemBuilder to keep jerking the screen continuously.
And : "No Items Found" => appeared the first time I focused  ..
...
And it seems the debounceDuration is not working properly
when I enter the suggestionsCallback keyword will be called .....after a set amount of time from debounceDuration will call again.
causes th

[2020-05-15 13:40] hillelcoren commented on #188
Looks like there's a merged PR for this: https://github.com/AbdulRahmanAlHamali/flutter_typeahead/pull/161

[2020-05-15 13:53] Sorunome commented on #188
The issue still exists in 1.8.1, so with that PR, though

Am 15. Mai 2020 15:40:27 MESZ schrieb Hillel Coren <notifications@github.com>:

[2020-05-15 13:56] hillelcoren commented on #188
I believe the PR was merged after 1.8.1, the changelog shows 2.0

https://github.com/AbdulRahmanAlHamali/flutter_typeahead/pull/161/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR1

[2020-05-15 13:56] hillelcoren commented on #188
That said I haven't reviewed the code, too bad...

[2020-05-17 08:00] yalva commented on #184
I'm also facing this issue when I try to use this on top of google map, any fix is much appreciated.

[2020-05-17 12:34] MartinJLee opened #191 "readOnly property for TextFieldConfiguration"
TextFieldConfiguration doesn't support
https://api.flutter.dev/flutter/material/TextField/readOnly.html

[2020-05-17 12:39] MartinJLee commented on #133
I have noticed that it will call suggestionsCallback on focus. It would be nice if it can use cached one instead.

[2020-05-17 12:42] MartinJLee opened #192 "Empty suggestion list render and disappear"
When the input textbox is empty, the empty suggestion appears then disappears.

[2020-05-19 17:34] yatindeokar commented on #163
facing the same issue, any solution

[2020-05-20 07:12] adolfdsilva commented on #163
+1

[2020-05-20 10:32] #163 closed

[2020-05-20 14:57] jlubeck commented on #192
Looks like this is the same issue I'm seeing:
![RheQteK26EGRt9Hh7E](https://user-images.githubusercontent.com/3067603/82461647-ab656480-9a88-11ea-956e-ed7b7e2bc969.gif)

[2020-05-21 08:45] cms103 commented on #192
I've found a work around that seems to fix it, add the following to the TypeAheadField constructor call:

`loadingBuilder: (context) => null,`

[2020-05-21 11:11] omrid594 opened #193 "Each tap on TypeAheadField makes SetState"
Every first tap on TypeAheadField rebuilds the build method.

How could I prevent that?

[2020-05-21 19:49] allanlucio opened #194 "Suggestions box dont close when keyboard hide."
When click on android botton button to hide the keyboard the expect behavior is to close the suggestions, but it isnt happen. This issue throw another problem, if the suggestions keep open and the user click on any button to navigate to other page the objects related with the TypeAhead will not disposed. If the user repeat this process a lot of memory can be filled and the GC cant clean it.

[2020-05-21 19:53] #194 closed

[2020-05-22 09:56] fluttdev commented on #175
Woud appreciate such feature too!

[2020-05-23 10:38] MartinJLee commented on #192
Thank you, it seems address the issue.

[2020-05-25 08:55] adolfdsilva commented on #163
@showcase-budha-sanjeev I am continuing your flutter work for the same company :D

[2020-05-25 14:48] jlubeck commented on #192
This is not working for me... I'm still seeing the same issue when used with `hideOnEmpty: true`

[2020-05-26 14:24] shadowdogg commented on #186
I also have encountered this, much to my dismay, it also seems to not select in sync with the mouse

[2020-05-27 14:57] atta1234 commented on #189
will you answer please

[2020-05-28 17:20] grangoni commented on #111
I'm having the same issue. Suggestions stop working when providing a FocusNode. Problem remains even after restarting the app.

[2020-05-28 23:56] grangoni commented on #111
Actually, I just managed to make it it work with the following using the following constructor parameters:
 focusNode = FocusNode(canRequestFocus: true, skipTraversal: true);
Hope it helps.

[2020-05-28 23:58] sandro opened #195 "Cupertino demo app doesn't display errorText"
Hi, I'm using flutter_typeahead in a CupertinoApp and am struggling to understand how to display the errorText in my Widget. I loaded the Cupertino demo app for comparison and don't see the errorText after pressing the Submit button. Is the demo equipped to show the error? How can I display errorText in my own app?

Thank you

[2020-05-31 10:07] netgfx opened #196 "Image setState called after dispose"
So I'm getting this:
[code]
after the suggestions box closes.

I'm using it like this:
[code]
The cached network image is this package: https://pub.dev/packages/cached_network_image
Anything that can be done?

[2020-06-01 04:42] DhiaEddineNabli commented on #186
Hello did you solve this problem?
@shadowdogg could you please tell us if GestureDetector with Overlay solved this issue? if yes a simple showcase is very appreciated

[2020-06-01 09:07] shadowdogg commented on #186
@DhiaEddineNabli it does work, but i'm struggling with the logic regarding opening and closing of the overlay, as for me, change of focus does not perform correctly. I followed: https://medium.com/saugo360/https-medium-com-saugo360-flutter-using-overlay-to-display-floating-widgets-2e6d0e8decb9 (who actually is the same plugin OP) and then wrapped where it had:

[code]

To

[code]

[2020-06-01 11:28] intkhabahmed commented on #192
@jlubeck use `keepSuggestionsOnLoading: false` also

[2020-06-01 11:34] intkhabahmed commented on #162
@emaddoma You can place a check in `suggestionsCallback` and return the results only when the query contain `@` symbol

[2020-06-01 11:47] intkhabahmed commented on #190
Yes this issue is coming. In the first time when I enter a character, the debounceDuration doesn't work, also when I delete the last character, it doesn't get deleted in the first time, need to press the back button again to delete it.

[2020-06-01 14:35] ganeh04 opened #197 "Duplication of words"
Hi, I am using this type ahead widget for getting suggestions in my application using an API. This widget is working so good in all the devices but my client is using an Samsung device with android version 7 for him when he type 3 letters after that what ever he is trying to type the first three letters what he has enter are getting duplicating

Example the first three letter word is "abc" after t

[2020-06-02 15:05] jlubeck commented on #192
@intkhabahmed still happening with `keepSuggestionsOnLoading`

[2020-06-02 15:07] intkhabahmed commented on #192
Btw, strange, I removed this one also and it is not happening anymore

[2020-06-02 19:58] wterrill commented on #186
As far as I can tell, this isn't a problem with the plugin, per se.  This was working for quite a while, but stopped working about 3 or 4 days ago.  I've been trying to change different things to figure out what's going on... but the only thing that seemed to work was downgrading my flutter channel from master to dev.  I also tried reverting to version 1.8.0 of this plugin (which is what I started

[2020-06-02 23:20] wterrill commented on #151
I had this problem with version 1.8.1, and I tried this workaround successfully. (thanks @jquintana53!)

[2020-06-03 00:16] shadowdogg commented on #186
@wterrill I wish the author would mention this. Thanks a lot for letting me know about this.

[2020-06-03 00:57] sjmcdowall commented on #186
This package is only tested on App programs, not Web etc.  There are lots of issues with desktop/Web applications beyond what this plugin can handle.

[2020-06-03 15:05] shadowdogg opened #198 "Showing suggestions only if there is text?"
Whilst it will not initially load suggestions when it has focus, if you type, then delete the content, it will try to show suggestions based on nothing. Is there anyway around this?

 thought I could achieve something reasonable with this, but ofcourse it isn't happy with null

[code]

[2020-06-04 02:14] zuwuko opened #199 "How would you pass the cities with an ID field too for action on selected?"
Could you please provide an example like the Cities but with an ID to be passed to be used on "onSuggestionSelected" function? Thank you. I figured it out, thanks.

[2020-06-04 12:09] fredEbho commented on #193
Same thing happening to me

[2020-06-04 12:21] kaciula opened #200 "When using autofocus, the suggestions box opens and closes really fast when showing the widget for the first time"
When using autofocus, the suggestions box opens and closes really fast when showing the widget for the first time. I need autofocus so I can make the keyboard pop up.

If I use hideOnLoading: true, it no longer has this behavior. However, now it does not look nice because for every letter I type, the suggestions box closes and opens again.

Let me know if there is something I can do.

[2020-06-04 20:20] DhiaEddineNabli commented on #186
@shadowdogg thank you this solution worked. I didn't know GestureDetector has this onPanDown callback function which can detect mouse events. @wterrill thank you your solution works as well but I saw that many callback functions from Listener for mouse events are now deprecated somehow. Although the mouse clicks are now detected the suggestion list behaves in a way that when hovering over an eleme

[2020-06-04 20:23] DhiaEddineNabli commented on #157
Hello guys check this thread
https://github.com/AbdulRahmanAlHamali/flutter_typeahead/issues/186

[2020-06-04 21:33] wterrill commented on #186
Sorry, I should have mentioned that if you set a background color, it gets rid of highlighting all together.  So, the code would look like:

If you'd like to remove the highlighting you can wrap the ListTile in a Container with a defined background color, there will be no highlighting but I think it'll be less confusing to the user. See below:

....
        itemBuilder: (context, String suggestion

[2020-06-04 22:07] shadowdogg commented on #186
Any advantage of doing Listener over Gesture detection?

[2020-06-05 00:47] zuwuko opened #201 "Softkeyboard cutsoff the suggestion box"
When the soft keyboard opens upon focusing on the Text Input Field, the suggestion box is limited height that was available between the input field and the soft keyboard opened. So basically the suggestion box gets limited to a height of like 3 pixels.. see picture for better understanding: https://toursvolcan.com/track/typeahead_error.png

[2020-06-05 02:53] #199 closed

[2020-06-05 19:40] fbasilico commented on #152
The CupertinoTypeAheadField is not working using  showCupertinoModalPopup

[2020-06-05 20:26] fbasilico commented on #180
Hi @tezine could you share where you put the open an resize?

[2020-06-08 12:29] dekadevelop opened #202 "'No Items Found!' Custom message"
Hi can the String 'No Items Found!' be exposed?
So we can provide a message in different languages :)

[2020-06-09 11:58] xyzbilal opened #203 "Please update flutter_keyboard_visibilty dependency"
it gives release built error with this package says that ;

`FAILURE: Build failed with an exception.
* What went wrong:
A problem occurred configuring root project 'flutter_keyboard_visibility'.

`

I dont use this package in my project but typeahead uses.

[2020-06-10 06:36] Babwenbiber opened #204 "Cancel suggestions"
I could not find any functionality of canceling a suggestion.
hideSuggestionsOnKeyboardHide seems not to work for me.
If not provided by the box itself, how can I close it with e.g. a close button?
Take this piece of code for example.

[code]

I could only find a huge workaround in [this issue](https://github.com/AbdulRahmanAlHamali/flutter_typeahead/issues/169#issuecomment-612319465)

[2020-06-11 15:01] g-akshay commented on #43
Any updates?

[2020-06-12 03:24] vikalpnagar commented on #43
[Check this comment](https://github.com/AbdulRahmanAlHamali/flutter_typeahead/issues/169#issuecomment-612319465), it might be of some help.

[2020-06-12 14:15] r0hit-gupta commented on #193
If it is animating the suggestion box again and again, you can use `animationDuration: Duration.zero` to prevent it from doing that.

[2020-06-13 05:41] mnoga23 opened #205 "Erratic suggestions callback behaviour (intermittent)"
On android emulator and phone (seems to be working ok on IOS emulator) suggestions callback does not get invoked until pushed with a click on the textfield.
![erratic suggestions](https://user-images.githubusercontent.com/38672130/84560850-94402c80-ad3f-11ea-969e-fa0cfce783a6.gif)

TypeAhedTextField runs in a StreamBuilder:

[code]

The problem is that the listener set in flutter_typeahead-1.8.1 _

[2020-06-14 19:40] Parthib opened #206 "Suggestions Expands Twice in Example 3 on Android"
Hi,

I ran into a strange behavior while using this library, and I see it happening in Example 3 that this repo provides. It seems like the drop down expands twice. Is this expected behavior? Here is a gif showing the issue:

![facebookOverTimeOthers](https://user-images.githubusercontent.com/16823332/84602410-0d24ae80-ae3c-11ea-9ef3-c97f755a1cc9.gif)

Thanks!

[2020-06-15 11:09] sanilch99 opened #207 "Suggestions Box doesn't close"
Is there any way to shut the suggestion Box , it is always open even when there is no text, or nothing SELECTED, no way to close the suggestion box

[2020-06-16 03:26] comerc opened #208 "Bugfix - blinking loadingBuilder"
I have blinking loadingBuilder when change focus. Solution - flag isLoading:

[code]

[2020-06-18 11:25] loicsacre commented on #208
Thank you ! I had just noticed this problem when scrolling

![m](https://imgur.com/D98TSqi.gif)

[2020-06-19 05:16] randika-srimal commented on #206
Same happens with me.

[2020-06-19 22:30] Parthib commented on #206
Looking at how _waitChangeMetrics() works, it seems this is what happens:

1. We use MediaQuery to get the insets immediately after the user taps the field and before the keyboard appears.
2. We wait 170ms during which the keyboard appears.
3. We use MediaQuery to get the insets again. It is different this time because the keyboard has appeared. Because of this, we force the suggestions to resize.

[2020-06-21 07:46] BataraSurya commented on #207
wondering the same thing... what I do right now is only to show sugestionbox when something is typed (pattern.length > 0). however I have now other problem.. the suggestion box is blinking real fast

[2020-06-22 17:28] dinit-bwd commented on #203
Ya it should update. Release build error

[2020-06-23 08:13] awhitford opened #209 "TypeAheadFormField<T> does not work when T is not a String"
[`class TypeAheadFormField<T>`](https://github.com/AbdulRahmanAlHamali/flutter_typeahead/blob/d694bbda1dfcd2539dddb70038e9768dc2932004/lib/flutter_typeahead.dart#L252) is declared with a generic `T`, but then it is defeated with this `onSaved` declaration that coerces the value to a `String` (and then fails when `T` is not a `String`):

https://github.com/AbdulRahmanAlHamali/flutter_typeahead/blob

[2020-06-23 15:34] amreniouinnovent opened #210 "I wonder if you could add enableSuggestions"
I want to hide keyboard suggestion
I wonder if you could add enableSuggestions to TextFieldConfiguration
Thanks a lot

[2020-06-26 14:51] dahabit commented on #208
I confirm the the issue is existing v1.8.1 , v1.8.3 and not existing in 1.8.0

[2020-06-27 20:13] awhitford commented on #185
A **Cut** or **Paste** into a **FormBuilderTypeAhead** triggers an exception:
[code]

https://github.com/AbdulRahmanAlHamali/flutter_typeahead/blob/398aa83b7d3607131921153e50ee879651c44d4d/lib/flutter_typeahead.dart#L315

Note that I am actually using `FormBuilderTypeAhead` from [`flutter_form_builder`](https://github.com/danvick/flutter_form_builder/blob/3be8176931e15dbf5c998c8a31e9df8bd4b2fc66/l

[2020-06-28 20:21] mnoga23 commented on #205
PR - https://github.com/AbdulRahmanAlHamali/flutter_typeahead/pull/212

[2020-06-30 12:51] llucie opened #213 "Debounce timer not cancelled on dispose"
In `_SuggestionsListState` class, a Timer is instantiated and launched in `initState`:

[code]

But this Timer is not cancelled upon dispose.

This causes an exception while running Widget tests on an App containing a `TypeAheadField` or a `TypeAheadFormField`.

[code]

Add this line in `dispose()` method of `_SuggestionsListState` to get rid of the error:

[code]

[2020-06-30 17:17] #205 closed

[2020-06-30 17:18] #185 closed

[2020-07-01 07:46] sgehrman commented on #203
same.

[2020-07-01 07:53] sgehrman opened #214 "update flutter_keyboard_visibility to 3.0.0"
flutter_typeahead >=1.8.3 depends on flutter_keyboard_visibility ^2.0.0

[2020-07-01 11:54] sjmcdowall commented on #214
Should be fixed in 1.8.5

[2020-07-01 11:54] #214 closed

[2020-07-01 11:55] sjmcdowall commented on #203
Done --

[2020-07-01 11:55] #203 closed

[2020-07-01 11:56] sjmcdowall commented on #213
Can you see if the latest bug fixes fixed this

[2020-07-02 11:01] thomasschwarzott opened #215 "hideSuggestionsOnKeyboardHide not working"
Hey guys,

thank you for your work! Unfortunately, we're experiencing that the hideSuggestionsOnKeyboardHide setting does not work. We need to keep the suggestions displayed when the keyboard is hidden.

From debugging the plugin, I found that your implementation of hideSuggestionsOnKeyboardHide is considered some lines later in the code - anyways, the suggestions box gets closed inside of the _fo

[2020-07-04 08:12] ethel39 commented on #208
hello, is there a way to fix this issue?
also got this in flutter 1.17.1 stable and plugin version 1.8.5

[2020-07-06 03:41] sfy666666 opened #217 "List items cannot slide up and down"
1.List items cannot slide up and down.
2.Type the keyword is red,how to change color?

[2020-07-06 03:50] ethel39 opened #218 "suggestionsCallback called everytime user scroll while TypeAheadFormField on focus"
i used this package to request a city name in scrollable view but if i scroll the view while has focus on typeaheadformfield it keep spamming the request because i put it inside suggestionscallback, is there a way do this correctly?

[2020-07-06 10:05] anandsubbu007 opened #219 "can i navigate within suggestion that generated while texting with up & down arrow - flutter web?"
can I select the suggestion that generated while texting using up & down arrow in flutter web. like in google search

![image](https://user-images.githubusercontent.com/55450843/86581781-38636f00-bf9e-11ea-8102-a6264266bcd8.png)
![image](https://user-images.githubusercontent.com/55450843/86581816-43b69a80-bf9e-11ea-91ea-f7f481e06336.png)

[2020-07-09 10:53] yuechaor commented on #206
Hi, same here, blink twice when focused,
anyone found the solution for this issue

[2020-07-09 11:13] yuechaor commented on #208
v1.8.5  same issue

[2020-07-09 11:17] yuechaor commented on #208
loadingBuilder: (context) => null, add this fixed the issue for me

[2020-07-09 13:55] jarzac opened #220 "Suggestions box location is constrained by height of browser window"
Hello,

In a web application, I have several typeahead widgets inside a scroller. All is working great, except that the location of the suggestions box is not displayed properly for for the widgets at the bottom when I scroll down to see them.

The ones at the top display properly:
![Screen Shot 2020-07-09 at 9 04 36 AM](https://user-images.githubusercontent.com/1033790/87048737-1bab7f00-c1ca-11ea

[2020-07-11 02:35] hatano0x06 opened #221 "empty box show frequency when tapping empty textfield"
I found a empty box show frequency at 1.8.5 version
it doesn't happen at 1.8.0 version

I captured it
![untitled](https://user-images.githubusercontent.com/7422251/87214657-94950d00-c369-11ea-9945-3277cdf07bcb.gif)

this is my source code
[code]

and this is my flutter env data.
[code]

I'm always grateful for the opportunity to use it.
Thank you.

[2020-07-16 16:37] clragon commented on #114
I am using this library and my users are supposed to select multiple options after each other.
I managed to get the correct suggestions by getting the selection property of the text controller and checking where the cursor is, but I cannot prevent the keyboard from closing on suggestion selected.

It would be nice if this was an option.

[2020-07-16 17:15] sjmcdowall commented on #114
Have you looked at other packages for multi-select?  https://pub.dev/packages/multiselect_formfield  or others?  Not sure how the UI/UX would work for that in this one to be honest

[2020-07-16 17:25] clragon commented on #114
you are thinking of the wrong kind of multiscelecting.
I am using this package to have suggestions while the user types tags. and it should be possible to type multiple tags.
It works fine too, with a bit of boiler code, besides the fact that the keyboard keeps closing.
![2387170](https://user-images.githubusercontent.com/11785085/87702738-12a64900-c79a-11ea-855e-dba9e65e4bf2.gif)

[2020-07-16 18:09] sjmcdowall commented on #114
Well an example certainly is nice to see -- maybe you can make a PR with a "multiSelect" option .. although how will the user indicate they are done selecting?

[2020-07-16 18:18] clragon commented on #114
simple, the field just stops existing.
I deactivated suggestions on an empty field anyways, so it won't pop up when the user stops inputting.

[2020-07-18 21:50] fbazbo opened #222 "suggestionsCallback not getting called on actual IOS device"
It all seems to work fine in the iphone simulator, but when on an actual device the suggestionsCallback never seems to get called.  The textFieldConfiguration onchanged is getting called, but nothing ever makes it to the callback method. I should note I'm also using the TextEditingController. Here's what the code looks like:
[code]

[2020-07-19 23:31] lmcnally47 commented on #221
I really like this package, however I am having the same problem, white box flashes on focus. Looks like this:

![Screen Shot 2020-07-19 at 6 30 37 PM](https://user-images.githubusercontent.com/45041661/87887786-2d74f980-c9f6-11ea-8bfd-ad7e8f3b14fb.png)

Code follows provided example.

Thanks!

[2020-07-28 14:15] AlexBacich commented on #221
Same for me. Showing screenshot with what is happening:
https://take.ms/XGTeo

[2020-07-28 14:18] AlexBacich commented on #208
@yuechaor , well done finding this.

[2020-07-28 14:18] AlexBacich commented on #221
Found solution in differnt thread. Simply put this:

loadingBuilder: (context) => null, add this fixed the issue for me

[2020-07-28 15:52] sjmcdowall commented on #221
Should this be like a default or something??

[2020-07-28 16:55] sterlp commented on #136
I still have this issue of some reason but only in a widget test not in the running code:

`
The following assertion was thrown while finalizing the widget tree:
A TextEditingController was used after being disposed.
Once you have called dispose() on a TextEditingController, it can no longer be used.

When the exception was thrown, this was the stack:
#0      ChangeNotifier._debugAssertNotDisposed

[2020-07-29 12:43] sterlp commented on #155
Would removing line 1102 fix the issue? As this seems to be the "change" to the controller which produces the problem.

![image](https://user-images.githubusercontent.com/774984/88801281-bb48a580-d1a9-11ea-8343-964dc0faaf7d.png)

The controller field is final -- means it can't be changed anymore later on
![image](https://user-images.githubusercontent.com/774984/88801394-edf29e00-d1a9-11ea-986c-c7f

[2020-07-30 13:24] sterlp commented on #155
Created pull request for the issue https://github.com/AbdulRahmanAlHamali/flutter_typeahead/pull/223

[2020-07-31 10:41] sjmcdowall commented on #155
Fixed with PR

[2020-07-31 10:41] #155 closed

[2020-07-31 10:43] sjmcdowall commented on #222
No one else seems to be having this issue ... ??  And a code snippet may not be enough to figure out what the issue is in your code .. How do you know it's not being called and the issue isbn't in your getLocations?  I don't see any debug code (output) or anything ..

[2020-08-04 14:11] qlssk8737 commented on #162
@intkhabahmed I understand your solution but have no idea how to change it. Could you give me an example with query? Actually I want the function to be implemented when users type anything, not on tapping. I've tried if statement in the `suggestionsCallBack`, but it didn't work.
[code]

[2020-08-04 14:19] intkhabahmed commented on #162
In your if check, you can write as
[code]

[2020-08-04 14:51] qlssk8737 commented on #169
@vikalpnagar  I really want to add the method but I can't find class _TypeAheadFieldState in flutter_typeahead.dart.

[2020-08-05 04:11] qlssk8737 opened #225 "How to show suggestion in order"
I'm working on a English vocabulary app, like when user types 'au' then suggestion that starts with 'au' appears. But after implementing typeahead, suggestion with all words include 'au' (ex. aeronaut) appears first so it takes a long time to find exact word. How can I handle it?
+ and also Is it possible to customize the ListTile? I want to change it with round corner, but I have no idea how to f

[2020-08-06 08:42] qlssk8737 commented on #225
I found the solution.
suggestion in order : `    matches.retainWhere((s) => s.toLowerCase().startsWith(query.toLowerCase()));`

[2020-08-07 10:20] omartinma commented on #201
Here having same issue. The only workaround I found so far is to set autoFlipDirection: true that will display the suggestion box above. Any other solution?

[2020-08-09 06:56] NiranjanShah commented on #199
@zuwuko, how did you do it, kindly let us know please.

[2020-08-09 06:57] NiranjanShah commented on #182
@bambinoua , How did you over come the above issue ?

[2020-08-09 20:04] thoffart opened #226 "flutter_typeahead causes build to break after upgrading flutter to version 1.20"
After I upgrade the flutter to version 1.20, and try to run the app, I get the following error:

[code]

if I remove the flutter_typeahead package from the pubspec the build occur with success.

[2020-08-10 06:07] Shiba-Kar commented on #226
Same issue here !!

[2020-08-10 14:27] sjmcdowall commented on #226
I am not seeing in the stack trace where in typeahead this is occurring -- ??  Is there is an easy sample program repo that reproduces this??

[2020-08-11 15:40] stevenosse commented on #226
Same issue here!
Flutter clean does'nt work

[2020-08-12 13:54] dreamknight0 commented on #226
Same issue here!

[2020-08-12 15:02] sjmcdowall commented on #226
What is needed is a small sample project and steps to reproduce ..

[2020-08-12 17:42] Shiba-Kar commented on #226
The problem is that our project is too big with around 500 files ,cant really boil down to that particular code. Some one provide the same.

[2020-08-14 13:58] thoffart commented on #226
this issue has been fixed by latest version of flutter https://github.com/flutter/flutter/wiki/Hotfixes-to-the-Stable-Channel

[2020-08-14 14:08] sjmcdowall commented on #226
Great news!  Thanks!

[2020-08-14 14:08] #226 closed

[2020-08-18 11:18] qlssk8737 opened #228 "List<Map<String, String>> Error"
<img width="270" alt="Screen Shot 2020-08-18 at 7 09 51 PM" src="https://user-images.githubusercontent.com/65214196/90506721-af8c4580-e18f-11ea-94d0-433a8bf12845.png">

After I change the table from List<String> to List<Map<String, String>, I got an error like this. After restarting simulator, the error disappeared and it worked well again, but I have no idea why that error happened. Just take a l

[2020-08-20 18:23] CiriousJoker commented on #200
Same issue here, luckily the "fix" solves this sufficiently for me

[2020-08-29 23:03] fbazbo commented on #222
I'm going to close this since something I did seems to have fixed it.  I had minimal debug code (which I removed from the snippet), because I was relying on breakpoints in the debugger.  I have a different issue with clearing the field via an action that I'll try to create an example for.

[2020-08-29 23:03] #222 closed

[2020-09-02 10:56] MichealB1969 opened #229 "Close the noItemsFoundBuilder box programmatically"
Hi,

Is there a way to close the noItemsFoundBuilder in a similar way to .suggestionsBoxController.close(); ?

I know I can suppress the noItemsFoundBuilder from showing by using hideOnEmpty: true

However, I am displaying a no data found message and want to allow the user to enter their own value instead.

ListTile(
      title: Text('No medication found'),
      subtitle: InkWell(
          chil

[2020-09-04 07:29] agordeev commented on #221
`hideOnLoading: true` also does the trick

[2020-09-06 15:06] altayhunoglu opened #230 "hideSuggestionsOnKeyboardHide not working on Android as expected"
Expectation:
When user clicks "Done" button on keybord and closes the keybord, suggestions should still be displayed.

Version:
  flutter_typeahead: 1.8.8

Flutter doctor -verbose:

[√] Flutter (Channel beta, 1.19.0-4.3.pre, on Microsoft Windows [Version 10.0.14393], locale tr-TR)
    • Flutter version 1.19.0-4.3.pre at C:\Users\ASUS\AppData\Local\Android\flutter
    • Framework revision 8fe7655ed

[2020-09-08 08:05] SachinTanpure opened #231 "text and hint is not vertical center if suffix icon"
If i add suffix icon, text and hint is not vertical center. There should option to textAlignVertical: TextAlignVertical.center in **TextFieldConfiguration**

[code]
Output is

![Screenshot_20200908-132558](https://user-images.githubusercontent.com/6615247/92449658-fd68fc00-f1d7-11ea-9aa5-85dd1736192f.png)

[2020-09-08 13:01] marcelocajaiba opened #232 "using flutter stepper the ListTile not show"
Hello, I am using Stepper and ListTile not showing .

what will be the problem?
I see the Return ListTitle but, not show Screen ! Thanks!

 child: Center(
          child: TypeAheadField(
            textFieldConfiguration: TextFieldConfiguration(
                autofocus: false,
                style: DefaultTextStyle.of(context)
                    .style
                    .copyWith(fontSize:

[2020-09-10 12:33] marcelocajaiba commented on #232
Hi , a find out the problem.

Not user  SingleChildScrollView with Stepper  in         child: TypeAheadFormField(

I change SingleChildScrollView  to Expander

 return SingleChildScrollView(
        padding: EdgeInsets.fromLTRB(0, 0, 0, 0),
        child: Stepper(
to
 return Expander(
        padding: EdgeInsets.fromLTRB(0, 0, 0, 0),
        child: Stepper(

[2020-09-10 14:28] sjmcdowall commented on #232
Good find!

[2020-09-10 14:28] #232 closed

[2020-09-11 11:27] romathebest opened #233 "Add resize() SuggestionsBox when open calls"
I have faced with the problem of recalculating SuggestionBox size.
When the input field is on the bottom of the screen, I scroll it up, but the size is not changing and it shows small.

Please add this.resize() on each opening SuggestionBox

[2020-09-12 23:49] c0c4i opened #234 "Show "default" suggestion when textfield is empty"
Hello I have decided to show favourites product when textfield is empty but the suggestionsCallback is called only when I type for the first time. In fact if I type one character and delete it, it will show favourites product, so do you have suggestion to implement this? It would be great, thanks
![issue](https://user-images.githubusercontent.com/45185144/93006975-5d0e3100-f563-11ea-9499-c1c6799ec

[2020-09-14 13:44] campanagerald commented on #215
Hi, is there an update to this? The plugin is good tho.

[2020-09-15 18:28] clragon commented on #114
okay this doesnt actually need an option, I just looked into adding this and if you set `keepSuggestionsOnSuggestionSelected` to true, this will already provide this functionality.

[2020-09-17 00:52] agungnursatria opened #235 "MissingPluginException flutter_keyboard_visibility"
Hi! I got an error that looks like caused by the dependencies.

[code]

[2020-09-19 19:54] Naografix opened #236 "Keyboard validation button close the suggestions"
Hello,

When I search something in my searchbar and I hit validation button it close the suggestion because I loose focus.

How can I fix that?

![image](https://user-images.githubusercontent.com/6979203/93687972-96deba80-fac2-11ea-9d4f-b5c22e32a65f.png)

Thank you

[2020-09-21 01:11] Nash0x7E2 commented on #169
@AbdulRahmanAlHamali is there any plans to support this behavior natively in the package? For web and desktop use cases, this would be a very common behavior/expectation.

[2020-09-24 03:19] marcelocajaiba commented on #232
Somebody  found out solution ?

[2020-09-25 07:57] aramayyes commented on #202
You can use the `noItemsFoundBuilder` to customize that widget.
Just pass a function to the `TypeAheadField` like this:

[code]

[2020-09-29 17:38] Naografix opened #237 "Change loading color?"
Hello, it's not really an issue but I want to know how can I change the loading animation color?

Thank you, continue this amazing works!

[2020-10-01 20:53] xyzbilal commented on #234
add getImmediateSuggestions: true, to your widget and your products will be shown immediately.

[2020-10-01 21:00] xyzbilal commented on #236
maybe adding this to TextFieldConfiguration might solve your problem.

[code]

[2020-10-02 04:42] kingmaster772 opened #239 "Can't set initialValue with FormField mode"
![carbon (2)](https://user-images.githubusercontent.com/29949806/94888718-2f524300-04a4-11eb-90b0-1ab94b2c6a2b.png)

[code]

**provinceValue** doesn't update the value. how can i fix this?

[2020-10-02 07:57] kingmaster772 commented on #239
Oops! i figured it out now by adding **TextEditingController()**, removing **initialValue** and change **_textProvinceController.text = 'som text'** via **setState()**. I'm closing this now

[code]

[2020-10-02 07:57] #239 closed

[2020-10-03 09:24] ForceGT opened #240 "Display suggestion only when the user types"
I have a use case (as shown in the example gif) of making the suggestion box appear only when the user starts typing
In my case the suggestion box appears as soon as the Field has focus

![image](https://user-images.githubusercontent.com/31688051/94988076-45d1ca80-0588-11eb-902e-f456cc8cd3a8.png)

[2020-10-03 09:55] asdk2006 opened #241 "type 'String' is not a subtype of type 'int' of 'index'"
String capitalize(String s) => s[0].toUpperCase() + s.substring(1);
  var textsearching = List<String>();
  Future<List> readdatsearch(String searchname) async {
    textsearching.clear();
    ii = 0;
    print(capitalize(searchname));
    firestoreInstance
        .collection("data")
        .where('poi_name', isGreaterThanOrEqualTo: capitalize(searchname))
        .where('poi_name', isLessThan:

[2020-10-04 11:07] jesper372 opened #242 "Rendering and/or widgets library throws exception in the provided example app, when switching from a screen with a TypeAheadField that is blank (or has unmatched text)"
I first noticed this in my own app, and then found that the same problem exists in the example app provided: if you leave a TypeAheadField blank, or you type in something for which there is no match, and you then navigate to another screen, then there is frequently (but not always) an exception thrown, either from the rendering library or the widgets library.

For example, in the example app, if y

[2020-10-04 16:17] #242 closed

[2020-10-04 16:26] jesper372 opened #243 "Exceptions thrown for certain user inputs (including in the Example app), when navigating away from a screen"
Exceptions are thrown for certain user inputs, as described below. I initially noticed them in my own app, but confirmed that they occur in the Example app as well.

To reproduce:

**iOS**
In Example 1, don't enter any text. Instead, just select Example 2 from the tab bar. You might get an exception already at this point. If not, continue to select Example 3, and an exception is thrown (see below

[2020-10-06 09:11] jesper372 commented on #243
I've found out that this is actually a bug in Flutter as opposed to the typeahead package - see https://github.com/flutter/flutter/issues/66457 for details. I'm therefore closing this issue.

[2020-10-06 09:11] #243 closed

[2020-10-06 11:39] sjmcdowall commented on #243
@jesper372  -- Thanks for digging into this.  Seemed odd from a first glance!

[2020-10-06 11:41] sjmcdowall commented on #241
@asdk2006 -- Can't help but believe this is just a general coding error in your code as no one else this iissue.  Have you running it through a debugger and seeing where the stack trace and variable values are etc etc?  Maybe a simple test program showing the error that you can share if its still a problem.

[2020-10-08 08:35] Swepilot commented on #240
This is my workaround, checking if the pattern is not blank:

[code]

[2020-10-13 08:45] pierre-gancel commented on #157
this is a duplicate, why not close this issue ?

[2020-10-22 12:33] gabrielCuringa opened #244 "Highlight input words"
Hi, your component is very useful and works fine.

**Question**
I try to improve the UX of my app so : Is it possible to highlight the typed words in the typeahead box ?

**Example**
![example][example]

[example]: https://www.syncfusion.com/products/react-js2/control/images/autocomplete/highlight.png "Example"

Thanks.

[2020-10-22 13:15] franarolas commented on #219
Any workaround on this?

[2020-10-22 16:48] mzdm commented on #169
My ugly one workaround in this [source](https://github.com/mzdm/virtual_traveller_flutter/blob/df8c2b37a8ac2882c0e72be9b94cb5b6c6085084/lib/presentation/pages/home/home_page.dart):

**1. initialize bool**
[code]

**2. Wrap the content of the page with GestureDetector widget with these conditions**
FocusManager hides the keyboard and also the SuggestionBox

e.g.:
[code]

3. **Set the bool var to tr

[2020-10-22 17:50] franarolas opened #245 "NoSuchMethodError: tried to call a non-function, such as null: 'dynamicToLvoid(...).as(...)'"
I'm getting this error when I'm typing in the TypeAheadFormField on each char:

`NoSuchMethodError: tried to call a non-function, such as null: 'dynamicToLvoid(...).as(...)'`

It is happening on Flutter Web in the last beta version, it delays a bit the suggestions.
I tested it on Android and I'm receiving the following error on the same situation too:
[code]

I thought it was my project so I teste

[2020-10-25 16:50] emmett-deen commented on #245
Also having this issue

[2020-10-26 15:31] franarolas commented on #245
@emmett-deen Found out that I was using a form field without any validation, Flutter accepts that but not TypeAhead, just change to normal field and it will work.

[2020-10-27 08:00] AliEasy opened #246 "Open Suggestion box on tap"
Hi
Is it possible to open the suggestion bow on tap on textFormField?

[2020-10-30 07:47] awhitford opened #247 "Add enabled, autovalidateMode, and deprecate autovalidate"
Consistent with other form fields, I think there should be an `enabled` and `autovalidateMode` (and `autovalidate` should be deprecated).

[2020-10-30 08:30] awhitford commented on #176
This issue should be closed because:
https://github.com/AbdulRahmanAlHamali/flutter_typeahead/blob/7fca7f1266bc3e8a355752bcea924a112a32e118/pubspec.yaml#L10

[2020-10-30 08:37] awhitford commented on #213
From just looking at the code, I think `_debounceTimer?.cancel();` still needs to be added to the `dispose()` method, otherwise there is a risk that the widget is disposed while the debounce timer is running.

[2020-10-30 09:21] awhitford opened #250 "Review Contributing Guidelines"
**Contributing Guidelines** presently state:

https://github.com/AbdulRahmanAlHamali/flutter_typeahead/blob/7fca7f1266bc3e8a355752bcea924a112a32e118/CONTRIBUTING.md#L7-L15

However, the `develop` branch seems to have diverged from the `master` branch in such a way that `master` seems more up to date.  I presume that this advice is now incorrect?

[2020-11-15 12:48] narritt commented on #180
@fbasilico I put only `suggestionsBoxController.resize();` at the end of `suggestionsCallback` and it works. But there is one problem - on every text change the callback triggers and suggestions box blinks.

[2020-11-16 18:27] leifarne commented on #234
I had the same question, and that solves the problem for me, thanks.

[2020-11-16 18:29] leifarne commented on #219
I need the same thing.

[2020-11-19 20:03] AlastairOZ opened #251 "error: dependOnInheritedWidgetOfExactType"
I am getting the below each time I load or leave the page containing the TypeAhead widget:
I am using version 1.8.8

E/flutter (  694): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: Looking up a deactivated widget's ancestor is unsafe.
E/flutter (  694): At this point the state of the widget's element tree is no longer stable.
E/flutter (  694): To safely refer to a widget's an

[2020-11-20 00:32] AlastairOZ opened #252 "left position of suggestion box"
Can the left position relative to the TextField be set in any way? Or an option to display the suggestion box full width of screen?

[2020-11-20 13:49] sureace opened #253 "unable to set textScaleFactor"
Hi
   Not able to set textScaleFactor for the component. Will you please add this to the component.
Thanks

[2020-11-26 06:45] eaedev opened #254 "Save user input instead of selected suggestion"
How can I save user input if he is not selecting anything from the suggestion box?

[2020-12-01 17:23] #247 closed

[2020-12-01 17:24] #210 closed

[2020-12-02 06:01] awhitford commented on #253
Have you tried adjusting the `textScaleFactor` by wrapping the component with a [MediaQuery](https://api.flutter.dev/flutter/widgets/MediaQuery-class.html)?  Like:
[code]

[2020-12-05 03:54] harsimranmaan opened #257 "What's the best way to handle keyboard hiding the dropdown list?"
Thanks and sorry if it has been already answered. Couldn't find much while glancing the docs and the code.

[2020-12-07 07:53] vignesh7501 opened #258 "Method not found: 'KeyboardVisibilityController'"
../../../flutter/.pub-cache/hosted/pub.dartlang.org/flutter_typeahead-1.9.1/lib/flutter_typeahead.dart:234:8: Error: Error when reading '../../../flutter/.pub-cache/hosted/pub.dartlang.org/flutter_keyboard_visibility-4.0.2/lib/flutter_keyboard_visibility.dart': No such file or directory
    import 'package:flutter_keyboard_visibility/flutter_keyboard_visibility.dart';
           ^
    ../../../flu

[2020-12-07 16:04] FRANIAZA commented on #258
I had the same problem, updating flutter_keyboard_visibility to 4.x from 3.x solved the problem.

[2020-12-08 06:36] vignesh7501 commented on #258
Thank you it's working.

[2020-12-08 07:41] vignesh7501 commented on #258
I have tried but it's not working.

[2020-12-08 10:07] FRANIAZA commented on #258
If you imported flutter_typeahead in your pubspec.yaml, you shouldn't need to import flutter_keyboard_visibility as well, as it is automatically imported in this package.
I had to import it manually because I have a local version of this package, since I needed to customize the state handlig of the textfield.
Anyway, if you remove your flutter_keyboard_visibility import from pubsepc.yaml, and run

[2020-12-10 07:11] vignesh7501 commented on #258
I didn't import flutter_keyboard_visibility in my pubspec.yaml and the issues are coming from the library only

[2020-12-11 07:07] ValeraT1982 commented on #241
**@asdk2006,** **readdatsearch** returns list of strings, so your **suggestion** in **itemBuilder** is a string but you are accessing it like it's dynamic (**suggestion['poi_name']**).

[2020-12-11 09:01] blue492 opened #259 "flutter_typeahead bug No podspec found for `flutter_keyboard_visibility_web`"
Iam using Flutter in Mac -> Android studio and when I write pod install in the terminal. It show me

[code]
flutter_typeahead plugin has a Dependencies with flutter_keyboard_visibility

Iam using flutter from one year ago, It is the first time it happen for me.
I cannot run the app. I dont have a plugin with this name flutter_keyboard_visibility_web in pubspec

How to fix it, thanks

[2020-12-11 18:48] shero1111 commented on #259
I have the same issue...any idea how to solve?

I even added the flutter_keyboard_visibility_web dependency in pubspec.yaml...but didn´t has any effect.

[2020-12-12 19:52] RandalSchwartz opened #260 "package has misleading name"
This is not "typeahead". This is "autocomplete".  Typeahead is when you can type characters before the system has echoed them, but they are in a queue waiting to process for you.  You kids have probably never seen that. 👍 This is autocomplete (or autocorrect {grin}) where further characters are guessed or proposed by the system.

[2020-12-12 20:11] sjmcdowall commented on #260
You are correct sir!  And yes i have seen real typeahead, I am as old as you (or close) and fondly remember programming in Perl (so yes, you are recognized!). The name wasn't mine to choose and of course, unless I am missing something, changing it would break countless projects.

[2020-12-12 20:16] RandalSchwartz commented on #260
You could deprecate this package, and inform people in your docs that they should be using the other (properly named) package.

[2020-12-14 12:16] blue492 commented on #259
@AbdulRahmanAlHamali
@awhitford  @kika  @sterlp  how to solve it, thanks

[2020-12-15 07:52] Sathish9222 opened #261 "Type 'AutovalidateMode' not found."
Can you please help with above issue?

[2020-12-15 14:43] blue492 commented on #259
The solution is here:
https://github.com/MisterJimson/flutter_keyboard_visibility/issues/52

[2020-12-15 14:43] #259 closed

[2020-12-15 17:30] sjmcdowall commented on #261
1 -- are you on the most up to date version available?

2 -- does this help?
https://github.com/MisterJimson/flutter_keyboard_visibility/issues/52

[2020-12-18 01:19] robertoltrocha opened #262 "how to hide the keyboard and show the list?"
Hi,
I would like to show only the list for the user to choose a suggestion and not/never show the keyboard, how can I do this?
thanks

[2020-12-21 14:49] funder7 opened #263 "Android emulator buttons not responding"
Hi,

I've added the plugin to a flutter project, unfortunately there's a problem with the _emulator buttons_.

They become _unresponsive_ once the plugin is loaded in the app, so _it's not possible to use them_.

I followed the example, as you can see the TypeAheadField is enclosed in a Flexible widget.
This is required even if I use a common TextField in order to avoid exceptions.
[code]

Environ

[2020-12-22 09:48] shabeenabarde opened #264 "Drop down"
Hi,
Is there a way to list down the drop down list after typing on the text field?
Because As soon as i tap on the text field, the dropdown appears as I want the user to be able to type some other value as well which is not from the list.

[2020-12-24 15:05] Timmmm opened #265 "Arrow keys and backspace do not work"
In a normal TextField you can use the arrow keys, backspace, delete, etc. With `TypeAheadFormField` they don't do anything. Tested on MacOS but it is probably true on Android too, e.g. with an external keyboard.

[2020-12-26 10:07] anilthapa1939 opened #266 "suggestion Box is not Closing As we tap on the Outside OF Suggestion"
suggestion Box is not Closing As we tap on the Outside OF Suggestion That is  Too much Annoying Can You please Provide Solution For it ???

[2020-12-29 16:23] karimkod opened #267 "The purpose of providing TextFieldConfiguration<T> as a generic class"
I'm reporting an issue with the TextFieldConfiguration<T> class, I don't see the purpose of providing it as a generic class since all its callbacks are provided to a TextField which takes only callbacks with a String as an input. For Instance, the onSubmitted and onChange callbacks should always have String as an input argument.

The Generic parameter can be confusing and may lead to potential err

[2020-12-29 16:47] karimkod commented on #267
I've introduced a fix in the pull request #268

[2021-01-03 21:34] funder7 opened #269 "TextInput gets focus once suffixIcon is pressed (keyboard is showing)"
Hi,

I've added a clear button in order to clear the textInput contents.

Unfortunately when clicking on the suffix icon, it's like clicking in any other part of the input: it gains focus and the keyboard shows up.

I think that it's a common requirement to have the widget divided in three parts, when talking about gesture recognition, otherwise the prefix & suffixes are functionally useless.

As

[2021-01-06 20:15] #267 closed

[2021-01-07 09:54] Silfalion opened #270 "Expected 0 type arguments"
Getting this issue since this morning:

`/C:/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_form_builder-4.1.0/lib/src/fields/form_builder_typeahead.dart:184:9: Error: Expected 0 type arguments.
  final TextFieldConfiguration<T> textFieldConfiguration;
        ^
`

in the fomr builder plugin depended on flutter typehead.

This is most likely caused by the 1.9.2 update, as adding and fixing the

[2021-01-07 11:56] nstrelow commented on #270
Having the same problem

[2021-01-07 15:57] sjmcdowall commented on #270
Anyway to test if removing the <T> from line 184 of that package fixes the issue?

[2021-01-08 06:49] Silfalion commented on #270
@sjmcdowall you can use the version 1.9.1 but if you prefer/need 1.9.2, this person gave a code editing level fix, on the other issue:

https://github.com/danvick/flutter_form_builder/issues/674#issuecomment-756436310

[2021-01-08 06:54] karimkod commented on #270
@sjmcdowall Tried to find any way to surpass this, couldn't find any. I think this is causing issues with written code. We should move the update to the 2.0.0 version of the package. Thanks

[2021-01-08 20:52] evhfla commented on #270
I have the same issue when using version 1.9.2 in combination with the the latest version of flutter_form_builder (4.2.0).  I had to downgrade the latter to version 3.14.1 to get my application to compile.  Downgrading the former to version 1.9.1 did not work if I still kept the latest version of flutter_form_builder.

[2021-01-09 12:15] nstrelow commented on #270
For me downgrading to 1.9.1 worked. What's your error?
If you have the same error, execute `flutter pub get` and check again

[2021-01-10 18:25] sjmcdowall commented on #270
OK -- created 1.9.3 which is a reversion back to 1.9.1 to solve the backward compatibility issue. Will create 2.0 "soon" which is the old 1.9.2. :)  Hope that's not confusing.

[2021-01-11 03:02] Silfalion commented on #270
Crystal, man. Thank you!

[2021-01-11 20:03] sjmcdowall commented on #270
OK -- V 2.0.0 has the type changes .. and V 1.9.3 has the old Types

[2021-01-12 08:29] YouSour opened #271 "return List<dynamic> form backend service get error"
hi , i got a problem , i try to return list<dynamic> from backend service , but it keep getting error
`Failed assertion: line 299 pos 16: 'T == String || selectionToTextTransformer != null': is not true.
`
any idea about this issue , or did i miss something ?

![Screenshot_1610439736](https://user-images.githubusercontent.com/9318106/104288292-2f71ce00-54ea-11eb-8527-3516523f7773.png)

**Code :**

[2021-01-12 12:29] sjmcdowall commented on #271
What version?  2.0.0 has the new Types and 1.9.3 has the old ones for backward compatibility.

[2021-01-12 12:30] sjmcdowall commented on #270
Going to close this with the 2 releases.

[2021-01-12 12:30] #270 closed

[2021-01-12 13:33] YouSour commented on #271
version ^1.9.1 @sjmcdowall

[2021-01-12 14:36] sjmcdowall commented on #271
@YouSour -- but what version are you running?  You either want 1.9.3 or 2.0.0 depending on your code (I can't tell which is the proper one) ..  Make sure to update to 1.9.3  .. and if the same error -- try 2.0.0 :)

[2021-01-13 03:18] YouSour commented on #271
@sjmcdowall by the way i'm using flutter_form_builder package that depend on this package and i want to know this package can return only List<String>  or what ?

[2021-01-13 09:24] papmodern opened #272 "Customization of suggestion list"
Is it possible to implement suggestion list like this?

![image](https://user-images.githubusercontent.com/5563687/104432765-93ee6500-559e-11eb-8bf6-01c5b554d340.png)

![image](https://user-images.githubusercontent.com/5563687/104432662-7a4d1d80-559e-11eb-9067-bd51ff6204eb.png)

[2021-01-13 14:33] YouSour opened #273 "get value from List<dynamic>FormBuilderTypeAhead"
hi , i got some problem , i have List<dynamic> from backend service that return on FormBuilderTypeAhead (ex : data = [{label:"camera",value:001 , label:"iphone",value:002}] , i want to get label show for user and value insert to database , how can i do that ?

[2021-01-14 08:52] YouSour commented on #271
@sjmcdowall solved , my bad i forgot implement some params

[2021-01-14 08:52] #271 closed

[2021-01-15 09:47] Miamoto-Musashi commented on #254
Maybe we can use a combination of the `onSuggestionSelected(value)` and the `TextEditingController` inside configuration (this one get the user input as-is) but would be nice to have a single point from the library

[2021-01-15 10:51] trueToastedCode opened #274 "Suggestions ontop of keyboard"
If there is one thing i hate, it is when the most important widgets are placed on places on the screen, that are barely reachable... i did not find any way to put the suggestions ontop of the keybaord... maybe you could add this feature. Would be really nice!

[2021-01-17 17:38] AmG2000 opened #275 "TextFieldConfiguration missing "textAlignVertical" property"
The textAlignVertical property seems to be missing from the TextFieldConfiguration class. Anyone know a workaround for this?

[2021-01-17 18:26] ova2 commented on #82
We have a requirement to render buttons in a GridView manner inside of suggestion box. Is GridView builder supported? Currently, we only can use built-in ListView builder. Right?

[2021-01-19 13:50] trueToastedCode opened #276 "Unable to build release apk using this plugin"
What i tried;
- Changing compileSdkVersion & targetSdkVersion to 28 (-> flutter clean & build)

[code]

[2021-01-19 18:49] ova2 opened #277 "Use KeyboardVisibilityProvider instead of KeyboardVisibilityController"
The flutter_typeahead instantiates `KeyboardVisibilityController` directly. Due to this issue in widget tests https://github.com/MisterJimson/flutter_keyboard_visibility/issues/31, the `KeyboardVisibility` should be set to `true` for testing as follows:

[code]

But the method `setVisibilityForTesting` is deprecated since 4.0.0. See https://pub.dev/packages/flutter_keyboard_visibility/changelog

[

[2021-01-19 19:24] luigi741 opened #278 "Keyboard is Automatically Dismissed When Tapping on Text Box"
As the title states, the text box is immediately dismissing the keyboard, which doesn't allow you to type anything. I am only encountering this issue with Android v11.0 on a Galaxy Note10+. I just upgraded my device from v10.0 to v11.0 and saw this bug. I then tested on an older device (Galaxy S8 running Android v9.0) and it works just fine. I'm on Flutter v1.22.5 currently.

I also tried to add `

[2021-01-20 00:36] intraector opened #279 "How to place a widget on top of the suggestions box?"
Hey, thanks for a great package 👍

I want to place a button on top of the suggestions box (like it's shown on the picture below), but the box hides everything else.
How do I do that?
![photo_2021-01-20 03 29 20](https://user-images.githubusercontent.com/51683067/105110652-12cc2c00-5ad0-11eb-91b3-df46c4e4b764.jpeg)

[2021-01-23 15:59] davebound commented on #219
Need the same

[2021-01-26 09:03] DevNico opened #281 "Null safety migration"
Null safety is in beta and packages should start to migrate. Is there already a migration planned? If not I could offer my help to migrate this package in the coming two weeks or so.

[2021-01-27 16:14] ashemetov opened #282 "Grouping suggestions"
Thank you for the excellent plugin.
There is one thing that I think can improve user experience - categories of suggestions aka grouping suggestions.
Let's say every suggestion will have a category:
'Test Site 1' - 'Online Tests'
'Test Site 2' - 'Online Tests'
'Test Book 1' - 'Books'
'Test Book 2' - 'Books'
So when user enter 'test' dropdown will show suggestions like:

Online Tests
- Test Site 1

[2021-01-31 17:39] miDeb commented on #281
It looks like there is already a PR to migrate to nnbd: #280

[2021-01-31 21:32] DevNico commented on #281
Closing since a PR is already open

[2021-01-31 21:32] #281 closed

[2021-02-02 01:23] javedct opened #283 "use within an edit action"
Hi - I wanted to know how to pre select/assign a value on this if I want to use this on an Edit action - where the form is prepopulated.
Everything else about this widget it fantastic. Keep up the good work!

[2021-02-04 07:48] rishisinghal opened #284 "Handling keyboard Enter before suggestionsCallback is called"
I wanted to know how to handle the situation where user has pressed enter before the suggestionsCallback is called. Is there a way we can send the pattern from onSubmitted available in TextFieldConfiguration to suggestionsCallback. It's a common tendency of multiple users to press enter on search text boxes.

[2021-02-05 07:27] regchiu commented on #235
I have the same problem.

[2021-02-07 18:07] sjmcdowall commented on #235
Are you sure you are using the proper version? What's your pubspec.yaml for this?

[2021-02-08 15:21] qbait opened #286 "`suggestionsBoxVerticalOffset` only on top"
That's my desired style
<img width="218" alt="Screenshot 2021-02-08 at 16 14 11" src="https://user-images.githubusercontent.com/2264901/107239437-257bb600-6a29-11eb-8182-318c28d88641.png">

I almost achieved it, except bottom margin. Used by myself `suggestionsBoxVerticalOffset: -2` cuts bottom border
<img width="216" alt="Screenshot 2021-02-08 at 16 16 03" src="https://user-images.githubuserconte

[2021-02-08 17:53] ViniciusCdeAlmeida1 commented on #235
Same problem here.

![image](https://user-images.githubusercontent.com/77679585/107260889-62da4680-6a1d-11eb-9f33-2760c5a05ffc.png)

[2021-02-08 21:23] qbait commented on #198
I have a similar issue. I need to show suggestions after typing several letters. Have you solved it somehow?

[2021-02-08 21:27] qbait commented on #83
@KaYBlitZ have you implemented it at the end?

[2021-02-09 05:55] qianxuechao commented on #235
http://blog.z7ge.com/archives/flutter-missingpluginexception-bu-yao-huang 希望能帮到你

[2021-02-10 09:26] wwwdata commented on #213
also stumbled upon this problem now when I wanted to make a widget test. Can we quickly fix this? I could also open a PR for this.

[2021-02-10 12:50] sjmcdowall commented on #213
@wwwdata -- if you write a PR that includes a test I'll merge it.

[2021-02-10 15:56] wwwdata commented on #213
ok, opened my small PR with a test.

[2021-02-11 13:34] Sachinsowri opened #288 "suggestionsCallback called Immediate"
I use flutter_typeahead :^2.0.0

flutter_typeahead version 1.8.0 above  suggestionsCallback called immediately while textfiled got focus and then not result found message showed,

in flutter_typeahead : ^1.8.0  worked fine suggestion callback called while typeing

how solve this suggestionsCallback  issue i am also set getImmediateSuggestions : false even suggestion callback called,  and now i swi

[2021-02-12 06:39] rishisinghal commented on #284
Any ideas please?

[2021-02-14 15:27] ajaygautam opened #289 ""example" does not work!"
Best practice - please have the example folder work!

[code]
This is expected to run, but fails with:
[code]

My flutter setup: `flutter doctor -v`
[code]

[2021-02-14 21:34] ajaygautam opened #290 "Platform compatible TypeAheadFormField"
In the spirit of https://pub.dev/packages/flutter_platform_widgets can we please have a `PlatformTypeAheadFormField`?

Something like:

[code]

[2021-02-14 22:57] Techno-Disaster commented on #230
@altayhunoglu were you able to fix this?

[2021-02-14 22:59] altayhunoglu commented on #230
No. I accepted it as it is.

[2021-02-14 23:04] Techno-Disaster commented on #230
@KaYBlitZ @sjmcdowall Any workaround?

[2021-02-15 03:54] Techno-Disaster commented on #200
Still facing this. Any good workarounds? turning autofocus on make the keyboard glitch

[2021-02-17 16:01] TheManuz commented on #184
I think the suggestionbox should have an implicit transition on the size.
Currently it always animate from zero to final height.
I tried to fix this, but i'm not able to do it using the provided transitionBuilder, since we should know the previous height to interpolate.

[2021-02-19 05:10] SameerChorge94 commented on #266
Facing same issue. any update or workaround on this issue ??

[2021-02-20 15:17] BenevidesLecontes commented on #207
These 3 flags do do the job for me
[code]

[2021-02-23 10:40] anchals333 commented on #276
I am also facing the same issue. Not able to release the build.

[2021-02-23 12:37] sjmcdowall commented on #276
The problem appears to be in a dependency -- the keyboard_visibility one .  Have you tried the ^3 null-safety version just to see if that works?  You'll have to switch to beta I think .. I need to fork ^2 off master and keep it as a separate branch until ^3 and null safety is main stream I think.

[2021-02-23 18:32] anchals333 commented on #276
Downgrading it to  `flutter_keyboard_visibility: ^4.0.3` works fine. I have to changed it in pubspec.lock  file, then it works.

[2021-02-25 10:40] Vitaliy-Svinchyak commented on #278
The same on Flutter 1.22.1 and lib versions 1.9.0-2.0.0

[2021-02-26 09:10] Vitaliy-Svinchyak commented on #278
The way I fixed it: `hideSuggestionsOnKeyboardHide: false`

[2021-02-26 17:40] mzdm commented on #288
Same, it is a pretty big breaking change.

Also `debounce` seems to be ignored, which is bad as well

@sjmcdowall could you have a look at it, please.

I use `3.0.0-nullsafety.0`, flutter_typeahead: `2.0.0` didn't do this.